//
// Written by Synplify Pro 
// Product Version "P-2019.03G"
// Program "Synplify Pro", Mapper "mapgw, Build 1450R"
// Thu Mar 26 14:27:04 2020
//
// Source file index table:
// Object locations will have the form <file>:<line>
// file 0 "\/home/rochor/APPLICATIONS/Gowin_V1.9.2.02Beta/SynplifyPro/lib/generic/gw1n.v "
// file 1 "\/home/rochor/APPLICATIONS/Gowin_V1.9.2.02Beta/SynplifyPro/lib/vlog/hypermods.v "
// file 2 "\/home/rochor/APPLICATIONS/Gowin_V1.9.2.02Beta/SynplifyPro/lib/vlog/umr_capim.v "
// file 3 "\/home/rochor/APPLICATIONS/Gowin_V1.9.2.02Beta/SynplifyPro/lib/vlog/scemi_objects.v "
// file 4 "\/home/rochor/APPLICATIONS/Gowin_V1.9.2.02Beta/SynplifyPro/lib/vlog/scemi_pipes.svh "
// file 5 "\/home/rochor/APPLICATIONS/Gowin_V1.9.2.02Beta/FPGA_Projects/Test_CPU/src/top.v "
// file 6 "\/home/rochor/APPLICATIONS/Gowin_V1.9.2.02Beta/FPGA_Projects/Test_CPU/src/cpu.v "
// file 7 "\/home/rochor/APPLICATIONS/Gowin_V1.9.2.02Beta/FPGA_Projects/Test_CPU/src/instRom.v "
// file 8 "\/home/rochor/APPLICATIONS/Gowin_V1.9.2.02Beta/SynplifyPro/lib/nlconst.dat "

`timescale 100 ps/100 ps
module instRom (
  arg2_0,
  ir_addr,
  arg1,
  ir_addr_fast_6,
  ir_addr_fast_1,
  ir_addr_fast_0,
  ir_addr_fast_2,
  ir_addr_fast_3,
  dest_0,
  op_0,
  read8_0,
  m7_i_0_x,
  N_48,
  m12_i_o2_x_0,
  un1_address_13_0_a2_0_a2_x_1z,
  N_134,
  un1_rf_wdata_1_i_0_o2_out,
  N_172_i_i_o2_x_1z,
  m12_i_o2_x,
  un1_m2_e_iso_1z,
  ir_addr_0_rep1,
  N_134_i_1z,
  read8,
  N_9,
  N_23,
  N_367,
  N_7,
  N_124,
  N_17,
  N_318,
  N_167
)
;
output arg2_0 ;
input [7:0] ir_addr ;
output [2:1] arg1 ;
input ir_addr_fast_6 ;
input ir_addr_fast_1 ;
input ir_addr_fast_0 ;
input ir_addr_fast_2 ;
input ir_addr_fast_3 ;
output dest_0 ;
output op_0 ;
output read8_0 ;
output m7_i_0_x ;
output N_48 ;
output m12_i_o2_x_0 ;
output un1_address_13_0_a2_0_a2_x_1z ;
output N_134 ;
input un1_rf_wdata_1_i_0_o2_out ;
output N_172_i_i_o2_x_1z ;
output m12_i_o2_x ;
output un1_m2_e_iso_1z ;
input ir_addr_0_rep1 ;
output N_134_i_1z ;
output read8 ;
output N_9 ;
output N_23 ;
output N_367 ;
output N_7 ;
input N_124 ;
output N_17 ;
output N_318 ;
output N_167 ;
wire arg2_0 ;
wire ir_addr_fast_6 ;
wire ir_addr_fast_1 ;
wire ir_addr_fast_0 ;
wire ir_addr_fast_2 ;
wire ir_addr_fast_3 ;
wire dest_0 ;
wire op_0 ;
wire read8_0 ;
wire m7_i_0_x ;
wire N_48 ;
wire m12_i_o2_x_0 ;
wire un1_address_13_0_a2_0_a2_x_1z ;
wire N_134 ;
wire un1_rf_wdata_1_i_0_o2_out ;
wire N_172_i_i_o2_x_1z ;
wire m12_i_o2_x ;
wire un1_m2_e_iso_1z ;
wire ir_addr_0_rep1 ;
wire N_134_i_1z ;
wire read8 ;
wire N_9 ;
wire N_23 ;
wire N_367 ;
wire N_7 ;
wire N_124 ;
wire N_17 ;
wire N_318 ;
wire N_167 ;
wire N_310 ;
wire N_42 ;
wire N_246 ;
wire m7_i_0_1 ;
wire N_134_i_sx ;
wire N_134_i_x ;
wire un1_m2_e_sx_0 ;
wire N_172_i_i_o2_sx ;
wire un1_m2_e_sx_x ;
wire m7_i_0_x_sx ;
wire N_134_i_sx_1 ;
wire GND ;
wire VCC ;
// @7:27
  LUT4 \inst_3_0_a2_0_a2_0_a2[2]  (
	.I0(N_167),
	.I1(ir_addr[0]),
	.I2(ir_addr[2]),
	.I3(ir_addr[3]),
	.F(op_0)
);
defparam \inst_3_0_a2_0_a2_0_a2[2] .INIT=16'h0010;
// @6:105
  LUT3 N_6_i_i_0 (
	.I0(N_167),
	.I1(N_318),
	.I2(ir_addr[3]),
	.F(N_17)
);
defparam N_6_i_i_0.INIT=8'hFE;
// @7:27
  LUT4 \inst_2_2_0_.m14_i_0  (
	.I0(N_124),
	.I1(ir_addr[0]),
	.I2(ir_addr[1]),
	.I3(ir_addr[2]),
	.F(N_7)
);
defparam \inst_2_2_0_.m14_i_0 .INIT=16'hEEBF;
  LUT4 N_8_i_i_0 (
	.I0(N_167),
	.I1(N_310),
	.I2(N_367),
	.I3(ir_addr[1]),
	.F(N_23)
);
defparam N_8_i_i_0.INIT=16'hEEFE;
// @7:27
  LUT4 \inst_2_2_0_.m9_0_a2_0_a2  (
	.I0(N_124),
	.I1(ir_addr[0]),
	.I2(ir_addr[1]),
	.I3(ir_addr[2]),
	.F(dest_0)
);
defparam \inst_2_2_0_.m9_0_a2_0_a2 .INIT=16'h0014;
// @7:27
  LUT4 \inst_2_2_0_.m12_i_0  (
	.I0(N_42),
	.I1(N_167),
	.I2(N_246),
	.I3(ir_addr[3]),
	.F(N_9)
);
defparam \inst_2_2_0_.m12_i_0 .INIT=16'hFEFC;
// @7:37
  LUT4 un1_address_13_0_a2_0_a2 (
	.I0(N_42),
	.I1(N_167),
	.I2(ir_addr[2]),
	.I3(ir_addr[3]),
	.F(read8)
);
defparam un1_address_13_0_a2_0_a2.INIT=16'h0100;
// @6:78
  LUT4 N_8_i_i_0_a2 (
	.I0(ir_addr[0]),
	.I1(ir_addr[1]),
	.I2(ir_addr[2]),
	.I3(ir_addr[3]),
	.F(N_310)
);
defparam N_8_i_i_0_a2.INIT=16'hFE00;
// @7:27
  LUT3 \inst_1_0_.m7_i_0_o2  (
	.I0(ir_addr[0]),
	.I1(ir_addr[1]),
	.I2(ir_addr[2]),
	.F(N_246)
);
defparam \inst_1_0_.m7_i_0_o2 .INIT=8'hDA;
// @7:27
  LUT4 \inst_2_2_0_.m12_i_o2  (
	.I0(ir_addr[4]),
	.I1(ir_addr[5]),
	.I2(ir_addr[7]),
	.I3(ir_addr_fast_6),
	.F(N_167)
);
defparam \inst_2_2_0_.m12_i_o2 .INIT=16'hFFFE;
// @7:34
  LUT2 un1_address_11_0_a2_0_a2 (
	.I0(N_134_i_1z),
	.I1(ir_addr_0_rep1),
	.F(arg1[1])
);
defparam un1_address_11_0_a2_0_a2.INIT=4'h8;
// @7:27
  LUT2 \inst_2_2_0_.m12_i_0_o2  (
	.I0(ir_addr_0_rep1),
	.I1(ir_addr_fast_1),
	.F(N_42)
);
defparam \inst_2_2_0_.m12_i_0_o2 .INIT=4'hE;
// @6:105
  LUT2 N_6_i_i_0_a2 (
	.I0(ir_addr[1]),
	.I1(ir_addr[2]),
	.F(N_318)
);
defparam N_6_i_i_0_a2.INIT=4'h4;
// @6:78
  LUT2 N_8_i_i_0_a2_1 (
	.I0(ir_addr_fast_0),
	.I1(ir_addr_fast_2),
	.F(N_367)
);
defparam N_8_i_i_0_a2_1.INIT=4'h8;
// @7:36
  LUT4 un1_m2_e_iso (
	.I0(N_167),
	.I1(N_367),
	.I2(ir_addr[1]),
	.I3(ir_addr[3]),
	.F(un1_m2_e_iso_1z)
);
defparam un1_m2_e_iso.INIT=16'h0040;
// @7:27
  LUT3 \inst_1_0_.m7_i_0_1  (
	.I0(ir_addr[1]),
	.I1(ir_addr[2]),
	.I2(ir_addr_0_rep1),
	.F(m7_i_0_1)
);
defparam \inst_1_0_.m7_i_0_1 .INIT=8'h43;
  LUT4 N_134_i_sx_cZ (
	.I0(ir_addr[4]),
	.I1(ir_addr[5]),
	.I2(ir_addr[7]),
	.I3(ir_addr_fast_6),
	.F(N_134_i_sx)
);
defparam N_134_i_sx_cZ.INIT=16'hFFFE;
// @7:27
  LUT3 \inst_2_2_0_.m12_i_o2_x  (
	.I0(ir_addr[5]),
	.I1(ir_addr[7]),
	.I2(ir_addr_fast_6),
	.F(m12_i_o2_x)
);
defparam \inst_2_2_0_.m12_i_o2_x .INIT=8'hFE;
  LUT3 N_134_i_x_cZ (
	.I0(ir_addr_fast_1),
	.I1(ir_addr_fast_2),
	.I2(ir_addr_fast_3),
	.F(N_134_i_x)
);
defparam N_134_i_x_cZ.INIT=8'h04;
// @7:33
  LUT3 un1_address_10_0_a2_0_a2 (
	.I0(N_134_i_x),
	.I1(N_134_i_sx),
	.I2(ir_addr_0_rep1),
	.F(arg1[2])
);
defparam un1_address_10_0_a2_0_a2.INIT=8'h02;
// @7:36
  LUT3 un1_m2_e_sx_0_cZ (
	.I0(ir_addr_fast_0),
	.I1(ir_addr_fast_1),
	.I2(ir_addr_fast_2),
	.F(un1_m2_e_sx_0)
);
defparam un1_m2_e_sx_0_cZ.INIT=8'h7F;
// @6:78
  LUT4 N_172_i_i_o2_x (
	.I0(ir_addr[4]),
	.I1(ir_addr_fast_1),
	.I2(ir_addr_fast_2),
	.I3(ir_addr_fast_3),
	.F(N_172_i_i_o2_x_1z)
);
defparam N_172_i_i_o2_x.INIT=16'hFFEF;
// @6:78
  LUT4 N_172_i_i_o2_sx_cZ (
	.I0(ir_addr[4]),
	.I1(ir_addr[5]),
	.I2(ir_addr[7]),
	.I3(ir_addr_fast_6),
	.F(N_172_i_i_o2_sx)
);
defparam N_172_i_i_o2_sx_cZ.INIT=16'hFFFE;
// @6:78
  LUT3 N_172_i_i_o2 (
	.I0(N_172_i_i_o2_sx),
	.I1(ir_addr_fast_2),
	.I2(un1_rf_wdata_1_i_0_o2_out),
	.F(N_134)
);
defparam N_172_i_i_o2.INIT=8'hFB;
// @7:37
  LUT3 un1_address_13_0_a2_0_a2_x (
	.I0(N_42),
	.I1(ir_addr[2]),
	.I2(ir_addr[3]),
	.F(un1_address_13_0_a2_0_a2_x_1z)
);
defparam un1_address_13_0_a2_0_a2_x.INIT=8'h10;
// @7:36
  LUT3 un1_m2_e_sx_x_cZ (
	.I0(ir_addr[5]),
	.I1(ir_addr[6]),
	.I2(ir_addr[7]),
	.F(un1_m2_e_sx_x)
);
defparam un1_m2_e_sx_x_cZ.INIT=8'hFE;
// @7:27
  LUT3 \inst_2_2_0_.m12_i_o2_x_0  (
	.I0(ir_addr[5]),
	.I1(ir_addr[7]),
	.I2(ir_addr_fast_6),
	.F(m12_i_o2_x_0)
);
defparam \inst_2_2_0_.m12_i_o2_x_0 .INIT=8'hFE;
// @7:27
  LUT4 \inst_1_0_.m7_i_0  (
	.I0(m12_i_o2_x_0),
	.I1(m7_i_0_1),
	.I2(ir_addr[4]),
	.I3(ir_addr_fast_3),
	.F(N_48)
);
defparam \inst_1_0_.m7_i_0 .INIT=16'hFFFB;
// @7:36
  LUT4 un1_m2_e (
	.I0(un1_m2_e_sx_x),
	.I1(un1_m2_e_sx_0),
	.I2(ir_addr[3]),
	.I3(ir_addr[4]),
	.F(arg2_0)
);
defparam un1_m2_e.INIT=16'h0001;
// @7:27
  LUT2 \inst_1_0_.m7_i_0_x_sx  (
	.I0(ir_addr[4]),
	.I1(ir_addr_fast_3),
	.F(m7_i_0_x_sx)
);
defparam \inst_1_0_.m7_i_0_x_sx .INIT=4'hE;
// @7:27
  LUT4 \inst_1_0_.m7_i_0_x  (
	.I0(m7_i_0_x_sx),
	.I1(ir_addr[1]),
	.I2(ir_addr[2]),
	.I3(ir_addr_0_rep1),
	.F(m7_i_0_x)
);
defparam \inst_1_0_.m7_i_0_x .INIT=16'hEFFA;
  LUT4 N_134_i_sx_1_cZ (
	.I0(ir_addr[5]),
	.I1(ir_addr[7]),
	.I2(ir_addr_fast_1),
	.I3(ir_addr_fast_6),
	.F(N_134_i_sx_1)
);
defparam N_134_i_sx_1_cZ.INIT=16'hFFFE;
  LUT4 N_134_i (
	.I0(N_134_i_sx_1),
	.I1(ir_addr[4]),
	.I2(ir_addr_fast_2),
	.I3(ir_addr_fast_3),
	.F(N_134_i_1z)
);
defparam N_134_i.INIT=16'h0010;
  LUT3 un1_address_13_0_a2_0_a2_0 (
	.I0(N_42),
	.I1(N_167),
	.I2(ir_addr[3]),
	.F(read8_0)
);
defparam un1_address_13_0_a2_0_a2_0.INIT=8'h10;
  GND GND_cZ (
	.G(GND)
);
  VCC VCC_cZ (
	.V(VCC)
);
endmodule /* instRom */

module cpu (
  cpu_addr,
  cpu_din,
  \rf_wdata[2]_0 ,
  \rf_wdata[3]_0 ,
  arg2_0,
  cpu_dout_i,
  arg1_0,
  un285_rf_wdata_cry_2_0_SUM,
  un230_rf_wdata_cry_2_0_SUM,
  cpu_write,
  clk_c,
  N_48,
  \rf_wdata[15]_6_4 ,
  N_548,
  m10_6_N_2L1_0_1_1,
  N_368,
  N_366,
  N_342,
  N_375,
  \rf_wdata[15]_6_0 ,
  N_130,
  N_134,
  \rf_wdata[15]_6_1 ,
  N_23,
  G_26_i_m2,
  N_17,
  \rf_wdata[15]_6 ,
  \rf_wdata[15]_6_2 ,
  \rf_wdata[15]_6_3 ,
  \rf_wdata[15]_6_6 
)
;
output [7:0] cpu_addr ;
input [1:0] cpu_din ;
output \rf_wdata[2]_0  ;
output \rf_wdata[3]_0  ;
output arg2_0 ;
output [2:0] cpu_dout_i ;
output arg1_0 ;
output un285_rf_wdata_cry_2_0_SUM ;
output un230_rf_wdata_cry_2_0_SUM ;
output cpu_write ;
input clk_c ;
output N_48 ;
output \rf_wdata[15]_6_4  ;
output N_548 ;
output m10_6_N_2L1_0_1_1 ;
output N_368 ;
output N_366 ;
output N_342 ;
output N_375 ;
output \rf_wdata[15]_6_0  ;
output N_130 ;
output N_134 ;
output \rf_wdata[15]_6_1  ;
output N_23 ;
input G_26_i_m2 ;
output N_17 ;
output \rf_wdata[15]_6  ;
output \rf_wdata[15]_6_2  ;
output \rf_wdata[15]_6_3  ;
output \rf_wdata[15]_6_6  ;
wire \rf_wdata[2]_0  ;
wire \rf_wdata[3]_0  ;
wire arg2_0 ;
wire arg1_0 ;
wire un285_rf_wdata_cry_2_0_SUM ;
wire un230_rf_wdata_cry_2_0_SUM ;
wire cpu_write ;
wire clk_c ;
wire N_48 ;
wire \rf_wdata[15]_6_4  ;
wire N_548 ;
wire m10_6_N_2L1_0_1_1 ;
wire N_368 ;
wire N_366 ;
wire N_342 ;
wire N_375 ;
wire \rf_wdata[15]_6_0  ;
wire N_130 ;
wire N_134 ;
wire \rf_wdata[15]_6_1  ;
wire N_23 ;
wire G_26_i_m2 ;
wire N_17 ;
wire \rf_wdata[15]_6  ;
wire \rf_wdata[15]_6_2  ;
wire \rf_wdata[15]_6_3  ;
wire \rf_wdata[15]_6_6  ;
wire [0:0] dest;
wire [7:0] dout_2;
wire [1:0] \rf_wdata[10]_26_5_d ;
wire [0:0] \rf_wdata[10]_26_4_d ;
wire [7:0] \rf_wdata[10]_26_11_1 ;
wire [7:0] \rf_wdata[10]_26_11 ;
wire [2:0] cpu_dout;
wire [1:1] \rf_wdata[10]_26_3_0 ;
wire [2:2] \rf_wdata[10]_26_11_d_s ;
wire [6:2] \rf_wdata[10]_26_11_d_d ;
wire [2:2] op;
wire [2:2] \rf_wdata[10]_26_11_d_d_d ;
wire [0:0] \rf_wdata[15]_16 ;
wire [1:1] \rf_wdata[15]_24 ;
wire [7:0] ir_addr;
wire [7:4] \rf_wdata[10]_26_11_d ;
wire [7:2] \rf_wdata[10]_26_6_0_a2_0_a2_0 ;
wire [0:0] \rf_wdata[10]_26_7_d ;
wire [0:0] \rf_wdata[10]_26_4_d_d ;
wire [7:0] \rf_wdata[1] ;
wire [7:0] \rf_wdata[3] ;
wire [7:0] \rf_wdata[2] ;
wire [2:2] arg1;
wire [7:0] \rf_wdata[0] ;
wire [7:0] \rf_wdata[4] ;
wire [0:0] \rf_wdata[10]_26_4_s ;
wire [6:0] ir_addr_fast;
wire [0:0] \rf_wdata[10]_26_10_d_1 ;
wire [0:0] \rf_wdata[15]_6_Z ;
wire [6:3] \rf_wdata[10]_26_9_1 ;
wire [6:6] \rf_wdata[10]_26_11_d_1 ;
wire [5:5] \rf_wdata[1]_26 ;
wire [1:1] \rf_wdata[10]_26_11_1_0 ;
wire [5:5] un110_rf_wdata_3_1_0;
wire [0:0] un4_address_3_1;
wire [7:2] dout_2_1_1_0;
wire [7:2] dout_2_1_1_1;
wire [7:2] dout_2_1_0_0;
wire [7:2] dout_2_1_0_1;
wire [7:2] dout_2_1_0;
wire [7:2] dout_2_1_1;
wire N_549 ;
wire N_525 ;
wire N_546 ;
wire N_522 ;
wire N_545 ;
wire N_521 ;
wire N_542 ;
wire N_518 ;
wire N_469 ;
wire N_493 ;
wire N_468 ;
wire N_492 ;
wire N_466 ;
wire N_490 ;
wire N_465 ;
wire N_489 ;
wire N_464 ;
wire N_488 ;
wire N_463 ;
wire N_487 ;
wire N_462 ;
wire N_486 ;
wire N_204 ;
wire N_188 ;
wire N_212 ;
wire N_206 ;
wire N_190 ;
wire N_214 ;
wire N_210 ;
wire N_194 ;
wire N_218 ;
wire N_209 ;
wire N_193 ;
wire N_217 ;
wire N_148 ;
wire N_140 ;
wire N_139 ;
wire g0_1 ;
wire N_4_0 ;
wire N_150 ;
wire N_166 ;
wire N_148_0 ;
wire N_7 ;
wire un230_rf_wdata_cry_6_0_SUM ;
wire N_145 ;
wire N_3_0 ;
wire N_134_i ;
wire un285_rf_wdata_cry_6_0_SUM ;
wire N_205 ;
wire N_164 ;
wire m1_0_03_0_a2_0_a2 ;
wire un230_rf_wdata_cry_1_0_SUM ;
wire N_153 ;
wire rf_m2_0 ;
wire rf_m6_0 ;
wire N_133 ;
wire un230_rf_wdata_cry_0_0_SUM ;
wire N_189 ;
wire N_306 ;
wire N_215 ;
wire \un1_rf_wdata[0]_0_sqmuxa_2_i_0_a2_4  ;
wire \un1_rf_wdata[0]_0_sqmuxa_2_i_0_a2_5  ;
wire N_293 ;
wire N_177_i_i_o2_1 ;
wire N_177_i_i_o2_2_0 ;
wire N_43 ;
wire N_392 ;
wire N_376 ;
wire N_37 ;
wire N_12 ;
wire N_251_i ;
wire N_305 ;
wire N_155 ;
wire N_44 ;
wire N_158 ;
wire N_352 ;
wire N_243 ;
wire N_46 ;
wire N_380 ;
wire rf_m2 ;
wire N_138 ;
wire N_152 ;
wire N_34 ;
wire N_318 ;
wire N_374 ;
wire m6_0_01 ;
wire N_467 ;
wire N_381 ;
wire N_121 ;
wire N_343 ;
wire N_367 ;
wire N_43_i ;
wire N_345 ;
wire N_369 ;
wire N_37_i ;
wire N_377 ;
wire N_379 ;
wire N_159 ;
wire N_378 ;
wire N_156 ;
wire N_162 ;
wire N_163 ;
wire N_209_i ;
wire N_346 ;
wire N_370 ;
wire un2_address_axb_4 ;
wire N_348 ;
wire N_372 ;
wire un2_address_axb_6 ;
wire un2_address ;
wire N_40_i ;
wire N_34_i ;
wire N_28_i ;
wire N_192 ;
wire N_519 ;
wire N_543 ;
wire N_349 ;
wire N_373 ;
wire N_520 ;
wire N_544 ;
wire N_524 ;
wire \rf_wdata[15]_6_5  ;
wire N_31_i ;
wire un285_rf_wdata_cry_0_0_SUM ;
wire N_7_0 ;
wire N_9 ;
wire N_503 ;
wire N_506 ;
wire N_509 ;
wire N_508 ;
wire N_505 ;
wire N_502 ;
wire read8 ;
wire N_451 ;
wire N_447 ;
wire N_446 ;
wire N_332 ;
wire N_330 ;
wire N_167 ;
wire un1_rf_wdata_1_i_0_o2_out ;
wire N_157_i ;
wire N_124 ;
wire N_160_i ;
wire N_331 ;
wire N_339 ;
wire N_130_i ;
wire un285_rf_wdata_cry_1_0_SUM ;
wire N_333 ;
wire ir_addr_0_rep1 ;
wire un285_rf_wdata_cry_3_0_SUM ;
wire un1_rf_wdata_12_0_a2_1_a2 ;
wire N_523 ;
wire N_453 ;
wire N_452 ;
wire N_450 ;
wire N_449 ;
wire N_448 ;
wire m5_0_i_0_1_0 ;
wire N_211 ;
wire \rf_wdata[10]_26_11_d_N_2L1  ;
wire un285_rf_wdata_s_7_0_SUM ;
wire \rf_wdata[10]_26_11_N_4L5_N_2L1  ;
wire \rf_wdata[10]_26_11_N_4L5  ;
wire \rf_wdata[10]_26_11_N_5L7_1  ;
wire \rf_wdata[10]_26_11_N_5L7_N_5L9  ;
wire N_154 ;
wire un230_rf_wdata_s_7_0_SUM ;
wire \rf_wdata[15]_16_6_1  ;
wire \rf_wdata[10]_26_11_N_5L7_N_5L9_N_2L1  ;
wire \rf_wdata[15]_14_9_N_2L1_0  ;
wire N_6 ;
wire N_5 ;
wire un230_rf_wdata_cry_4_0_SUM ;
wire \rf_wdata[10]_26_9_1_N_2L1_0  ;
wire \rf_wdata[10]_26_11_1_N_2L1  ;
wire \rf_wdata[10]_26_11_1_N_3L3  ;
wire un230_rf_wdata_cry_3_0_SUM ;
wire \rf_wdata[10]_26_11_d_1_N_2L1  ;
wire \rf_wdata[15]_14_10_mb_N_3L4  ;
wire \rf_wdata[15]_14_10_mb_N_4L6  ;
wire m2_0_03_i_0_o2_0 ;
wire m3_0_03_i_0_m2_rn_0 ;
wire N_136 ;
wire un230_rf_wdata_cry_5_0_0_SUM ;
wire \rf_wdata[15]_14_8_1  ;
wire g0_4_3 ;
wire g1_1 ;
wire g0 ;
wire g1_0 ;
wire g1_3_0 ;
wire N_119_1 ;
wire g2_1 ;
wire \rf_wdata[10]_26_11_d_N_2_0  ;
wire g1_0_0 ;
wire N_329_0_0_1 ;
wire \rf_wdata[1]_26_7_rep1  ;
wire \rf_wdata[1]_26_7_rep2  ;
wire \rf_wdata[1]_26_7_rep3  ;
wire \rf_wdata[1]_26_3_rep1  ;
wire \rf_wdata[1]_26_3_rep2  ;
wire \rf_wdata[1]_26_3_rep3  ;
wire \rf_wdata[1]_26_6_rep1  ;
wire \rf_wdata[1]_26_6_rep2  ;
wire \rf_wdata[1]_26_6_rep3  ;
wire \rf_wdata[1]_26_4_rep1  ;
wire \rf_wdata[1]_26_4_rep2  ;
wire \rf_wdata[1]_26_4_rep3  ;
wire \rf_wdata[1]_26_1_rep1  ;
wire \rf_wdata[1]_26_1_rep2  ;
wire \rf_wdata[1]_26_1_rep3  ;
wire \rf_wdata[1]_26_5_rep1  ;
wire \rf_wdata[1]_26_0_rep1  ;
wire \rf_wdata[1]_26_0_rep2  ;
wire \rf_wdata[1]_26_0_rep3  ;
wire un110_rf_wdata_6_N_2L1 ;
wire m12_i_o2_x ;
wire N_172_i_i_o2_x ;
wire N_327 ;
wire un1_address_13_0_a2_0_a2_x ;
wire m12_i_o2_x_0 ;
wire m7_i_0_x ;
wire N_367_0 ;
wire un110_m5_0_m2_0_N_2L1 ;
wire un110_m5_0_m2_0_N_3L3 ;
wire \rf_wdata[15]_16_5_N_2L1_0  ;
wire un4_address_3_N_2L1 ;
wire \un1_rf_wdata[0]_axb_1_lofx  ;
wire un285_rf_wdata_axb_1_lofx ;
wire un285_rf_wdata_axb_2_lofx ;
wire un285_rf_wdata_axb_3_lofx ;
wire un285_rf_wdata_axb_4_lofx ;
wire un285_rf_wdata_axb_5_lofx ;
wire un285_rf_wdata_axb_6_lofx ;
wire un285_rf_wdata_axb_7 ;
wire un230_rf_wdata_axb_1_lofx ;
wire un230_rf_wdata_axb_2_lofx ;
wire un230_rf_wdata_axb_3_lofx ;
wire un230_rf_wdata_axb_4_lofx ;
wire un230_rf_wdata_axb_5_lofx ;
wire un230_rf_wdata_axb_6_lofx ;
wire un230_rf_wdata_axb_7 ;
wire un2_address_axb_1_lofx ;
wire un2_address_axb_2_lofx ;
wire un2_address_axb_5_lofx ;
wire \rf_wdata[15]_6_axb_0_i_lofx  ;
wire \rf_wdata[15]_6_axb_1_i_lofx  ;
wire \rf_wdata[15]_6_axb_2_i_lofx  ;
wire \rf_wdata[15]_6_axb_3_i_lofx  ;
wire \rf_wdata[15]_6_axb_4_i_lofx  ;
wire \rf_wdata[15]_6_axb_5_i_lofx  ;
wire \rf_wdata[15]_6_axb_6_i_lofx  ;
wire \rf_wdata[15]_6_axb_7_i_lofx  ;
wire un230_rf_wdata_cry_5_ns ;
wire un2_address_cry_1_ns ;
wire \un1_rf_wdata[0]_axb_0_lofx_1_0  ;
wire \un1_rf_wdata[0]_axb_0_lofx_1_1  ;
wire \un1_rf_wdata[0]_axb_0_lofx_0_0  ;
wire \un1_rf_wdata[0]_axb_0_lofx_0_1  ;
wire \un1_rf_wdata[0]_0_sqmuxa_2_i_0_o2_0  ;
wire \un1_rf_wdata[0]_0_sqmuxa_2_i_0_o2_1  ;
wire \un1_rf_wdata[0]_axb_0_lofx_0  ;
wire \un1_rf_wdata[0]_axb_0_lofx_1  ;
wire \un1_rf_wdata[0]_axb_0_lofx  ;
wire \un1_rf_wdata[0]_s_7_0_SUM  ;
wire un1_m2_e_iso ;
wire \un1_rf_wdata[0]_cry_6_0_SUM  ;
wire \un1_rf_wdata[0]_cry_5_0_SUM  ;
wire \un1_rf_wdata[0]_cry_4_0_SUM  ;
wire \un1_rf_wdata[0]_cry_3_0_SUM  ;
wire \un1_rf_wdata[0]_cry_2_0_SUM  ;
wire \un1_rf_wdata[0]_cry_1_0_SUM  ;
wire \un1_rf_wdata[0]_cry_0_0_SUM  ;
wire un2_address_cry_6_0_SUM ;
wire un2_address_cry_5_0_SUM ;
wire un2_address_cry_4_0_SUM ;
wire un2_address_cry_3_0_SUM ;
wire un2_address_cry_2_0_SUM ;
wire un2_address_cry_1_0_0_SUM ;
wire un2_address_cry_0_0_SUM ;
wire un2_address_s_7_0_SUM ;
wire read8_0 ;
wire \rf_wdata[15]_6_cry_6  ;
wire GND ;
wire \rf_wdata[15]_6_cry_7_0_SUM  ;
wire \rf_wdata[15]_6_cry_5  ;
wire \rf_wdata[15]_6_cry_6_0_SUM  ;
wire \rf_wdata[15]_6_cry_4  ;
wire \rf_wdata[15]_6_cry_5_0_SUM  ;
wire \rf_wdata[15]_6_cry_3  ;
wire \rf_wdata[15]_6_cry_4_0_SUM  ;
wire \rf_wdata[15]_6_cry_2  ;
wire \rf_wdata[15]_6_cry_3_0_SUM  ;
wire \rf_wdata[15]_6_cry_1  ;
wire \rf_wdata[15]_6_cry_2_0_SUM  ;
wire \rf_wdata[15]_6_cry_0  ;
wire \rf_wdata[15]_6_cry_1_0_SUM  ;
wire \rf_wdata[15]_6_cry_0_0_SUM  ;
wire un2_address_cry_6 ;
wire VCC ;
wire un2_address_s_7_0_COUT ;
wire un2_address_cry_5 ;
wire un2_address_cry_4 ;
wire un2_address_cry_3 ;
wire un2_address_cry_2 ;
wire un2_address_cry_1 ;
wire un2_address_cry_0 ;
wire un230_rf_wdata_cry_6 ;
wire un230_rf_wdata_s_7_0_COUT ;
wire un230_rf_wdata_cry_5 ;
wire un230_rf_wdata_cry_4_0_COUT ;
wire un230_rf_wdata_cry_3 ;
wire un230_rf_wdata_cry_2 ;
wire un230_rf_wdata_cry_1 ;
wire un230_rf_wdata_cry_0 ;
wire un285_rf_wdata_cry_6 ;
wire un285_rf_wdata_s_7_0_COUT ;
wire un285_rf_wdata_cry_5 ;
wire un285_rf_wdata_cry_4 ;
wire un285_rf_wdata_cry_5_0_SUM ;
wire un285_rf_wdata_cry_3 ;
wire un285_rf_wdata_cry_4_0_SUM ;
wire un285_rf_wdata_cry_2 ;
wire un285_rf_wdata_cry_1 ;
wire un285_rf_wdata_cry_0 ;
wire \un1_rf_wdata[0]_cry_6  ;
wire \un1_rf_wdata[0]_s_7_0_COUT  ;
wire \un1_rf_wdata[0]_cry_5  ;
wire \un1_rf_wdata[0]_cry_4  ;
wire \un1_rf_wdata[0]_cry_3  ;
wire \un1_rf_wdata[0]_cry_2  ;
wire \un1_rf_wdata[0]_cry_1  ;
wire \un1_rf_wdata[0]_cry_0  ;
wire N_355 ;
wire N_354 ;
wire N_96 ;
wire N_94 ;
wire N_92 ;
wire N_90 ;
wire N_88 ;
wire N_86 ;
wire N_85 ;
wire N_83 ;
wire N_636 ;
wire N_635 ;
wire N_634 ;
wire N_633 ;
wire N_632 ;
wire N_631 ;
wire N_630 ;
wire N_629 ;
wire N_138_0 ;
wire N_137 ;
wire N_136_0 ;
wire N_135 ;
wire N_134_0 ;
wire N_8 ;
// @6:92
  MUX2_LUT5 \un110_rf_wdata_7[7]  (
	.I0(N_549),
	.I1(N_525),
	.S0(arg1_0),
	.O(\rf_wdata[15]_6_6 )
);
// @6:92
  MUX2_LUT5 \un110_rf_wdata_7[4]  (
	.I0(N_546),
	.I1(N_522),
	.S0(arg1_0),
	.O(\rf_wdata[15]_6_3 )
);
// @6:92
  MUX2_LUT5 \un110_rf_wdata_7[3]  (
	.I0(N_545),
	.I1(N_521),
	.S0(arg1_0),
	.O(\rf_wdata[15]_6_2 )
);
// @6:92
  MUX2_LUT5 \un110_rf_wdata_7[0]  (
	.I0(N_542),
	.I1(N_518),
	.S0(arg1_0),
	.O(\rf_wdata[15]_6 )
);
// @6:86
  MUX2_LUT5 \dout_2_7[7]  (
	.I0(N_469),
	.I1(N_493),
	.S0(dest[0]),
	.O(dout_2[7])
);
// @6:86
  MUX2_LUT5 \dout_2_7[6]  (
	.I0(N_468),
	.I1(N_492),
	.S0(dest[0]),
	.O(dout_2[6])
);
// @6:86
  MUX2_LUT5 \dout_2_7[4]  (
	.I0(N_466),
	.I1(N_490),
	.S0(dest[0]),
	.O(dout_2[4])
);
// @6:86
  MUX2_LUT5 \dout_2_7[3]  (
	.I0(N_465),
	.I1(N_489),
	.S0(dest[0]),
	.O(dout_2[3])
);
// @6:86
  MUX2_LUT5 \dout_2_7[2]  (
	.I0(N_464),
	.I1(N_488),
	.S0(dest[0]),
	.O(dout_2[2])
);
// @6:86
  MUX2_LUT5 \dout_2_7[1]  (
	.I0(N_463),
	.I1(N_487),
	.S0(dest[0]),
	.O(dout_2[1])
);
// @6:86
  MUX2_LUT5 \dout_2_7[0]  (
	.I0(N_462),
	.I1(N_486),
	.S0(dest[0]),
	.O(dout_2[0])
);
// @6:78
  MUX2_LUT5 \rf_wdata[10]_26_10[1]  (
	.I0(N_204),
	.I1(N_188),
	.S0(N_17),
	.O(N_212)
);
// @6:78
  MUX2_LUT5 \rf_wdata[10]_26_10[3]  (
	.I0(N_206),
	.I1(N_190),
	.S0(N_17),
	.O(N_214)
);
// @6:78
  MUX2_LUT5 \rf_wdata[10]_26_10[7]  (
	.I0(N_210),
	.I1(N_194),
	.S0(N_17),
	.O(N_218)
);
// @6:78
  MUX2_LUT5 \rf_wdata[10]_26_10[6]  (
	.I0(N_209),
	.I1(N_193),
	.S0(N_17),
	.O(N_217)
);
// @6:78
  MUX2_LUT5 \rf_wdata[10]_26_5_d_cZ[1]  (
	.I0(N_148),
	.I1(N_140),
	.S0(N_17),
	.O(\rf_wdata[10]_26_5_d [1])
);
// @6:78
  MUX2_LUT5 \rf_wdata[10]_26_5_d_cZ[0]  (
	.I0(\rf_wdata[10]_26_4_d [0]),
	.I1(N_139),
	.S0(N_17),
	.O(\rf_wdata[10]_26_5_d [0])
);
// @6:78
  MUX2_LUT5 \rf_wdata[10]_26_11_cZ[2]  (
	.I0(\rf_wdata[10]_26_11_1 [2]),
	.I1(G_26_i_m2),
	.S0(g0_1),
	.O(\rf_wdata[10]_26_11 [2])
);
// @5:21
  INV \cpu_dout_i_cZ[0]  (
	.I(cpu_dout[0]),
	.O(cpu_dout_i[0])
);
// @5:21
  INV \cpu_dout_i_cZ[1]  (
	.I(cpu_dout[1]),
	.O(cpu_dout_i[1])
);
// @5:21
  INV \cpu_dout_i_cZ[2]  (
	.I(cpu_dout[2]),
	.O(cpu_dout_i[2])
);
// @6:78
  LUT4 \rf_wdata[10]_26_4[3]  (
	.I0(N_23),
	.I1(N_4_0),
	.I2(N_150),
	.I3(\rf_wdata[10]_26_3_0 [1]),
	.F(N_166)
);
defparam \rf_wdata[10]_26_4[3] .INIT=16'hE4A0;
// @6:102
  LUT4 \rf_wdata[10]_26_1[6]  (
	.I0(N_23),
	.I1(N_148_0),
	.I2(N_7),
	.I3(un230_rf_wdata_cry_6_0_SUM),
	.F(N_145)
);
defparam \rf_wdata[10]_26_1[6] .INIT=16'hBA10;
// @6:78
  LUT4 \rf_wdata[10]_26_11_d[2]  (
	.I0(N_148_0),
	.I1(\rf_wdata[10]_26_11_d_s [2]),
	.I2(\rf_wdata[10]_26_11_d_d [2]),
	.I3(N_3_0),
	.F(\rf_wdata[10]_26_11_1 [2])
);
defparam \rf_wdata[10]_26_11_d[2] .INIT=16'h7430;
// @6:78
  LUT4 \rf_wdata[10]_26_11_d_d_cZ[6]  (
	.I0(N_134_i),
	.I1(un285_rf_wdata_cry_6_0_SUM),
	.I2(N_217),
	.I3(op[2]),
	.F(\rf_wdata[10]_26_11_d_d [6])
);
defparam \rf_wdata[10]_26_11_d_d_cZ[6] .INIT=16'hF088;
// @6:78
  LUT4 \rf_wdata[10]_26_11_d_d_cZ[2]  (
	.I0(N_17),
	.I1(\rf_wdata[10]_26_11_d_d_d [2]),
	.I2(N_205),
	.I3(op[2]),
	.F(\rf_wdata[10]_26_11_d_d [2])
);
defparam \rf_wdata[10]_26_11_d_d_cZ[2] .INIT=16'hD8CC;
// @6:102
  LUT4 \rf_wdata[10]_26_1[1]  (
	.I0(N_23),
	.I1(N_164),
	.I2(m1_0_03_0_a2_0_a2),
	.I3(un230_rf_wdata_cry_1_0_SUM),
	.F(N_140)
);
defparam \rf_wdata[10]_26_1[1] .INIT=16'hBA10;
// @6:108
  LUT4 rf_m6 (
	.I0(N_153),
	.I1(rf_m2_0),
	.I2(rf_m6_0),
	.I3(\rf_wdata[15]_6_1 ),
	.F(\rf_wdata[15]_16 [0])
);
defparam rf_m6.INIT=16'hA030;
// @6:102
  LUT4 \rf_wdata[10]_26_1[0]  (
	.I0(N_23),
	.I1(N_133),
	.I2(N_164),
	.I3(un230_rf_wdata_cry_0_0_SUM),
	.F(N_139)
);
defparam \rf_wdata[10]_26_1[0] .INIT=16'hAB01;
// @6:78
  LUT3 \rf_wdata[10]_26_11_d_d_d_cZ[2]  (
	.I0(N_189),
	.I1(arg2_0),
	.I2(op[2]),
	.F(\rf_wdata[10]_26_11_d_d_d [2])
);
defparam \rf_wdata[10]_26_11_d_d_d_cZ[2] .INIT=8'hAC;
// @6:78
  LUT4 \rf_wdata[10]_26_9[1]  (
	.I0(N_23),
	.I1(N_134),
	.I2(N_306),
	.I3(\rf_wdata[15]_24 [1]),
	.F(N_204)
);
defparam \rf_wdata[10]_26_9[1] .INIT=16'h5702;
// @6:78
  LUT3 \rf_wdata[10]_26_11_d_cZ[4]  (
	.I0(N_215),
	.I1(ir_addr[6]),
	.I2(op[2]),
	.F(\rf_wdata[10]_26_11_d [4])
);
defparam \rf_wdata[10]_26_11_d_cZ[4] .INIT=8'hAC;
// @6:78
  LUT4 \un1_rf_wdata[0]_0_sqmuxa_2_i_0_a2  (
	.I0(dout_2[0]),
	.I1(dout_2[1]),
	.I2(\un1_rf_wdata[0]_0_sqmuxa_2_i_0_a2_4 ),
	.I3(\un1_rf_wdata[0]_0_sqmuxa_2_i_0_a2_5 ),
	.F(N_293)
);
defparam \un1_rf_wdata[0]_0_sqmuxa_2_i_0_a2 .INIT=16'h1000;
// @6:108
  LUT4 rf_m6_0_cZ (
	.I0(N_130),
	.I1(N_177_i_i_o2_1),
	.I2(N_177_i_i_o2_2_0),
	.I3(\rf_wdata[15]_6_3 ),
	.F(rf_m6_0)
);
defparam rf_m6_0_cZ.INIT=16'h0002;
// @6:78
  LUT4 \rf_wdata[10]_26_7[1]  (
	.I0(N_23),
	.I1(N_43),
	.I2(N_134_i),
	.I3(N_392),
	.F(N_188)
);
defparam \rf_wdata[10]_26_7[1] .INIT=16'hE444;
// @6:78
  LUT4 \rf_wdata[10]_26_7[2]  (
	.I0(N_23),
	.I1(N_130),
	.I2(N_376),
	.I3(\rf_wdata[10]_26_6_0_a2_0_a2_0 [2]),
	.F(N_189)
);
defparam \rf_wdata[10]_26_7[2] .INIT=16'hB515;
// @6:78
  LUT4 \rf_wdata[10]_26_7[3]  (
	.I0(N_23),
	.I1(N_37),
	.I2(\rf_wdata[10]_26_6_0_a2_0_a2_0 [3]),
	.I3(\rf_wdata[15]_6_2 ),
	.F(N_190)
);
defparam \rf_wdata[10]_26_7[3] .INIT=16'hE444;
// @6:78
  LUT4 \rf_wdata[10]_26_7[7]  (
	.I0(N_12),
	.I1(N_23),
	.I2(\rf_wdata[10]_26_6_0_a2_0_a2_0 [7]),
	.I3(\rf_wdata[15]_6_6 ),
	.F(N_194)
);
defparam \rf_wdata[10]_26_7[7] .INIT=16'hE222;
// @6:78
  LUT4 \rf_wdata[10]_26_9[2]  (
	.I0(N_23),
	.I1(N_134),
	.I2(N_251_i),
	.I3(N_305),
	.F(N_205)
);
defparam \rf_wdata[10]_26_9[2] .INIT=16'h0527;
// @6:78
  LUT4 \rf_wdata[10]_26_9[7]  (
	.I0(N_12),
	.I1(N_23),
	.I2(N_155),
	.I3(\rf_wdata[15]_6_6 ),
	.F(N_210)
);
defparam \rf_wdata[10]_26_9[7] .INIT=16'h2E1D;
// @6:108
  LUT4 m1_0_i_0_m2 (
	.I0(N_44),
	.I1(N_158),
	.I2(N_352),
	.I3(\rf_wdata[15]_6 ),
	.F(N_243)
);
defparam m1_0_i_0_m2.INIT=16'hCCF5;
// @6:106
  LUT4 m1_0_03_0_a2_0_a2_cZ (
	.I0(N_43),
	.I1(N_46),
	.I2(\rf_wdata[15]_6 ),
	.I3(\rf_wdata[15]_6_0 ),
	.F(m1_0_03_0_a2_0_a2)
);
defparam m1_0_03_0_a2_0_a2_cZ.INIT=16'h0035;
// @6:78
  LUT4 \rf_wdata[10]_26_7[6]  (
	.I0(N_23),
	.I1(N_130),
	.I2(N_380),
	.I3(\rf_wdata[10]_26_6_0_a2_0_a2_0 [6]),
	.F(N_193)
);
defparam \rf_wdata[10]_26_7[6] .INIT=16'hB515;
// @6:108
  LUT4 rf_m2_0_cZ (
	.I0(N_44),
	.I1(N_352),
	.I2(rf_m2),
	.I3(\rf_wdata[15]_6 ),
	.F(rf_m2_0)
);
defparam rf_m2_0_cZ.INIT=16'h22F0;
// @6:116
  LUT3 \rf_wdata[15]_24_0_0[1]  (
	.I0(N_130),
	.I1(N_375),
	.I2(\rf_wdata[15]_6_0 ),
	.F(\rf_wdata[15]_24 [1])
);
defparam \rf_wdata[15]_24_0_0[1] .INIT=8'h7C;
// @6:108
  LUT3 m4_0_i_0_m2 (
	.I0(N_138),
	.I1(N_152),
	.I2(\rf_wdata[15]_6 ),
	.F(N_153)
);
defparam m4_0_i_0_m2.INIT=8'hCA;
// @6:78
  LUT4 \rf_wdata[10]_26_10[4]  (
	.I0(N_23),
	.I1(N_34),
	.I2(N_318),
	.I3(\rf_wdata[15]_6_3 ),
	.F(N_215)
);
defparam \rf_wdata[10]_26_10[4] .INIT=16'h4C43;
// @6:106
  LUT4 N_177_i_i_o2 (
	.I0(N_177_i_i_o2_2_0),
	.I1(\rf_wdata[15]_6_2 ),
	.I2(\rf_wdata[15]_6_3 ),
	.I3(\rf_wdata[15]_6_6 ),
	.F(N_148_0)
);
defparam N_177_i_i_o2.INIT=16'hFFFE;
// @6:78
  LUT4 \rf_wdata[10]_26_7_d_cZ[0]  (
	.I0(N_23),
	.I1(N_130),
	.I2(N_374),
	.I3(\rf_wdata[15]_6 ),
	.F(\rf_wdata[10]_26_7_d [0])
);
defparam \rf_wdata[10]_26_7_d_cZ[0] .INIT=16'h9515;
// @6:78
  LUT4 \un1_rf_wdata[0]_0_sqmuxa_2_i_0_a2_5_cZ  (
	.I0(dout_2[3]),
	.I1(dout_2[4]),
	.I2(dout_2[6]),
	.I3(dout_2[7]),
	.F(\un1_rf_wdata[0]_0_sqmuxa_2_i_0_a2_5 )
);
defparam \un1_rf_wdata[0]_0_sqmuxa_2_i_0_a2_5_cZ .INIT=16'h0001;
// @6:108
  LUT4 m6_0_01_cZ (
	.I0(N_12),
	.I1(N_130),
	.I2(N_380),
	.I3(\rf_wdata[15]_6 ),
	.F(m6_0_01)
);
defparam m6_0_01_cZ.INIT=16'h55C0;
// @6:78
  LUT4 \un1_rf_wdata[0]_0_sqmuxa_2_i_0_a2_4_cZ  (
	.I0(N_467),
	.I1(dest[0]),
	.I2(dout_2[2]),
	.I3(ir_addr[0]),
	.F(\un1_rf_wdata[0]_0_sqmuxa_2_i_0_a2_4 )
);
defparam \un1_rf_wdata[0]_0_sqmuxa_2_i_0_a2_4_cZ .INIT=16'h000D;
// @6:108
  LUT4 m7_0_i_0 (
	.I0(N_130),
	.I1(N_381),
	.I2(\rf_wdata[15]_6 ),
	.I3(\rf_wdata[15]_6_0 ),
	.F(N_121)
);
defparam m7_0_i_0.INIT=16'hFFF7;
// @6:78
  LUT3 \rf_wdata[10]_26_8_i_0[7]  (
	.I0(N_134),
	.I1(N_381),
	.I2(\rf_wdata[15]_6_6 ),
	.F(N_155)
);
defparam \rf_wdata[10]_26_8_i_0[7] .INIT=8'hAB;
// @6:108
  LUT4 m0_0_0_i_0 (
	.I0(N_130),
	.I1(N_374),
	.I2(\rf_wdata[15]_6 ),
	.I3(\rf_wdata[15]_6_0 ),
	.F(N_133)
);
defparam m0_0_0_i_0.INIT=16'hFFF7;
// @6:104
  LUT4 N_43_i_cZ (
	.I0(N_130),
	.I1(N_343),
	.I2(N_367),
	.I3(arg1_0),
	.F(N_43_i)
);
defparam N_43_i_cZ.INIT=16'hA088;
// @6:104
  LUT4 N_37_i_cZ (
	.I0(N_130),
	.I1(N_345),
	.I2(N_369),
	.I3(arg1_0),
	.F(N_37_i)
);
defparam N_37_i_cZ.INIT=16'hA088;
// @6:116
  LUT3 \rf_wdata[15]_24_0_0_x2[2]  (
	.I0(N_130),
	.I1(N_376),
	.I2(\rf_wdata[15]_6_1 ),
	.F(N_251_i)
);
defparam \rf_wdata[15]_24_0_0_x2[2] .INIT=8'h87;
// @6:108
  LUT3 m3_0_i_0_m2_0 (
	.I0(N_377),
	.I1(N_379),
	.I2(\rf_wdata[15]_6_0 ),
	.F(N_159)
);
defparam m3_0_i_0_m2_0.INIT=8'hCA;
// @6:108
  LUT3 m1_0_i_0_m2_0 (
	.I0(N_376),
	.I1(N_378),
	.I2(\rf_wdata[15]_6_0 ),
	.F(N_158)
);
defparam m1_0_i_0_m2_0.INIT=8'hCA;
// @6:108
  LUT3 m4_0_i_0_m2_1 (
	.I0(N_379),
	.I1(N_381),
	.I2(\rf_wdata[15]_6_0 ),
	.F(N_152)
);
defparam m4_0_i_0_m2_1.INIT=8'hCA;
// @6:106
  LUT3 m6_0_03_i_0_m2_0 (
	.I0(N_377),
	.I1(N_379),
	.I2(\rf_wdata[15]_6_0 ),
	.F(N_156)
);
defparam m6_0_03_i_0_m2_0.INIT=8'hAC;
// @6:106
  LUT3 m4_0_03_i_0_m2_0 (
	.I0(N_376),
	.I1(N_378),
	.I2(\rf_wdata[15]_6_0 ),
	.F(N_162)
);
defparam m4_0_03_i_0_m2_0.INIT=8'hAC;
// @6:108
  LUT3 m4_0_i_0_m2_0 (
	.I0(N_378),
	.I1(N_380),
	.I2(\rf_wdata[15]_6_0 ),
	.F(N_138)
);
defparam m4_0_i_0_m2_0.INIT=8'hCA;
// @6:106
  LUT3 m7_0_03_i_0_m2 (
	.I0(N_378),
	.I1(N_380),
	.I2(\rf_wdata[15]_6_0 ),
	.F(N_163)
);
defparam m7_0_03_i_0_m2.INIT=8'hAC;
// @6:116
  LUT3 \rf_wdata[15]_24_0_0_x2[0]  (
	.I0(N_130),
	.I1(N_374),
	.I2(\rf_wdata[15]_6 ),
	.F(N_209_i)
);
defparam \rf_wdata[15]_24_0_0_x2[0] .INIT=8'h87;
// @6:82
  LUT4 un2_address_axb_4_cZ (
	.I0(N_130),
	.I1(N_346),
	.I2(N_370),
	.I3(arg1_0),
	.F(un2_address_axb_4)
);
defparam un2_address_axb_4_cZ.INIT=16'hA088;
// @6:82
  LUT4 un2_address_axb_6_cZ (
	.I0(N_130),
	.I1(N_348),
	.I2(N_372),
	.I3(arg1_0),
	.F(un2_address_axb_6)
);
defparam un2_address_axb_6_cZ.INIT=16'hA088;
// @6:104
  LUT4 N_46_i (
	.I0(N_130),
	.I1(N_342),
	.I2(N_366),
	.I3(arg1_0),
	.F(un2_address)
);
defparam N_46_i.INIT=16'hA088;
// @6:104
  LUT4 N_40_i_cZ (
	.I0(N_130),
	.I1(N_368),
	.I2(arg1_0),
	.I3(m10_6_N_2L1_0_1_1),
	.F(N_40_i)
);
defparam N_40_i_cZ.INIT=16'h8A80;
// @6:104
  LUT4 N_34_i_cZ (
	.I0(N_130),
	.I1(N_346),
	.I2(N_370),
	.I3(arg1_0),
	.F(N_34_i)
);
defparam N_34_i_cZ.INIT=16'hA088;
// @6:104
  LUT4 N_28_i_cZ (
	.I0(N_130),
	.I1(N_348),
	.I2(N_372),
	.I3(arg1_0),
	.F(N_28_i)
);
defparam N_28_i_cZ.INIT=16'hA088;
// @6:78
  LUT3 \rf_wdata[10]_26_11_d_cZ[5]  (
	.I0(N_192),
	.I1(ir_addr[6]),
	.I2(op[2]),
	.F(\rf_wdata[10]_26_11_d [5])
);
defparam \rf_wdata[10]_26_11_d_cZ[5] .INIT=8'hAC;
// @6:108
  LUT3 rf_m2_cZ (
	.I0(N_374),
	.I1(N_376),
	.I2(\rf_wdata[15]_6_0 ),
	.F(rf_m2)
);
defparam rf_m2_cZ.INIT=8'h35;
// @6:82
  LUT4 \un4_address_15_i_0_o2[3]  (
	.I0(N_130),
	.I1(N_345),
	.I2(N_369),
	.I3(arg1_0),
	.F(N_37)
);
defparam \un4_address_15_i_0_o2[3] .INIT=16'h5F77;
// @6:82
  LUT4 \un4_address_15_i_0_o2[1]  (
	.I0(N_130),
	.I1(N_343),
	.I2(N_367),
	.I3(arg1_0),
	.F(N_43)
);
defparam \un4_address_15_i_0_o2[1] .INIT=16'h5F77;
// @6:116
  LUT4 \rf_wdata[15]_24_0_0_o2[1]  (
	.I0(N_375),
	.I1(N_519),
	.I2(N_543),
	.I3(arg1_0),
	.F(N_44)
);
defparam \rf_wdata[15]_24_0_0_o2[1] .INIT=16'hDDF5;
// @6:78
  LUT4 \rf_wdata[10]_26_6_0_a2_0_a2_0[1]  (
	.I0(N_375),
	.I1(N_519),
	.I2(N_543),
	.I3(arg1_0),
	.F(N_392)
);
defparam \rf_wdata[10]_26_6_0_a2_0_a2_0[1] .INIT=16'h88A0;
// @6:108
  LUT4 m0_0_i_0_a2_2 (
	.I0(N_377),
	.I1(N_519),
	.I2(N_543),
	.I3(arg1_0),
	.F(N_352)
);
defparam m0_0_i_0_a2_2.INIT=16'h88A0;
// @6:78
  LUT4 \rf_wdata[10]_26_8_i_0_a2[1]  (
	.I0(N_375),
	.I1(N_519),
	.I2(N_543),
	.I3(arg1_0),
	.F(N_306)
);
defparam \rf_wdata[10]_26_8_i_0_a2[1] .INIT=16'h1105;
// @6:78
  LUT4 \rf_wdata[10]_26_8_i_0_a2[2]  (
	.I0(N_368),
	.I1(arg1_0),
	.I2(\rf_wdata[15]_6_1 ),
	.I3(m10_6_N_2L1_0_1_1),
	.F(N_305)
);
defparam \rf_wdata[10]_26_8_i_0_a2[2] .INIT=16'h0407;
// @6:78
  LUT4 \rf_wdata[10]_26_6_0_a2_0_a2_0_cZ[3]  (
	.I0(N_134_i),
	.I1(N_345),
	.I2(N_369),
	.I3(arg1_0),
	.F(\rf_wdata[10]_26_6_0_a2_0_a2_0 [3])
);
defparam \rf_wdata[10]_26_6_0_a2_0_a2_0_cZ[3] .INIT=16'hA088;
// @6:78
  LUT4 \rf_wdata[10]_26_6_0_a2_0_a2_0_cZ[7]  (
	.I0(N_134_i),
	.I1(N_349),
	.I2(N_373),
	.I3(arg1_0),
	.F(\rf_wdata[10]_26_6_0_a2_0_a2_0 [7])
);
defparam \rf_wdata[10]_26_6_0_a2_0_a2_0_cZ[7] .INIT=16'hA088;
// @6:78
  LUT4 \rf_wdata[10]_26_6_0_a2_0_a2_0_cZ[2]  (
	.I0(N_134_i),
	.I1(N_520),
	.I2(N_544),
	.I3(arg1_0),
	.F(\rf_wdata[10]_26_6_0_a2_0_a2_0 [2])
);
defparam \rf_wdata[10]_26_6_0_a2_0_a2_0_cZ[2] .INIT=16'h88A0;
// @6:78
  LUT4 \rf_wdata[10]_26_6_0_a2_0_a2_0_cZ[6]  (
	.I0(N_134_i),
	.I1(N_524),
	.I2(N_548),
	.I3(arg1_0),
	.F(\rf_wdata[10]_26_6_0_a2_0_a2_0 [6])
);
defparam \rf_wdata[10]_26_6_0_a2_0_a2_0_cZ[6] .INIT=16'h88A0;
// @6:108
  LUT4 m0_0_0_i_0_o2_0 (
	.I0(N_130),
	.I1(N_342),
	.I2(N_366),
	.I3(arg1_0),
	.F(N_46)
);
defparam m0_0_0_i_0_o2_0.INIT=16'h5F77;
// @6:82
  LUT4 \un4_address_15_i_0_o2[4]  (
	.I0(N_130),
	.I1(N_346),
	.I2(N_370),
	.I3(arg1_0),
	.F(N_34)
);
defparam \un4_address_15_i_0_o2[4] .INIT=16'h5F77;
// @6:82
  LUT3 \un4_address_7[1]  (
	.I0(N_343),
	.I1(N_367),
	.I2(arg1_0),
	.F(N_375)
);
defparam \un4_address_7[1] .INIT=8'hCA;
// @6:82
  LUT3 \un4_address_7[7]  (
	.I0(N_349),
	.I1(N_373),
	.I2(arg1_0),
	.F(N_381)
);
defparam \un4_address_7[7] .INIT=8'hCA;
// @6:92
  LUT3 \un110_rf_wdata_7[1]  (
	.I0(N_519),
	.I1(N_543),
	.I2(arg1_0),
	.F(\rf_wdata[15]_6_0 )
);
defparam \un110_rf_wdata_7[1] .INIT=8'hAC;
// @6:78
  LUT3 \rf_wdata[10]_26_7[5]  (
	.I0(N_23),
	.I1(N_379),
	.I2(\rf_wdata[15]_6_4 ),
	.F(N_192)
);
defparam \rf_wdata[10]_26_7[5] .INIT=8'h91;
// @6:92
  LUT3 \un110_rf_wdata_7[6]  (
	.I0(N_524),
	.I1(N_548),
	.I2(arg1_0),
	.F(\rf_wdata[15]_6_5 )
);
defparam \un110_rf_wdata_7[6] .INIT=8'hAC;
// @6:82
  LUT3 \un4_address_7[0]  (
	.I0(N_342),
	.I1(N_366),
	.I2(arg1_0),
	.F(N_374)
);
defparam \un4_address_7[0] .INIT=8'hCA;
// @6:82
  LUT3 \un4_address_7[6]  (
	.I0(N_348),
	.I1(N_372),
	.I2(arg1_0),
	.F(N_380)
);
defparam \un4_address_7[6] .INIT=8'hCA;
// @6:82
  LUT3 \un4_address_7[4]  (
	.I0(N_346),
	.I1(N_370),
	.I2(arg1_0),
	.F(N_378)
);
defparam \un4_address_7[4] .INIT=8'hCA;
// @6:82
  LUT3 \un4_address_7[2]  (
	.I0(N_368),
	.I1(arg1_0),
	.I2(m10_6_N_2L1_0_1_1),
	.F(N_376)
);
defparam \un4_address_7[2] .INIT=8'hB8;
// @6:104
  LUT2 N_31_i_cZ (
	.I0(N_130),
	.I1(N_379),
	.F(N_31_i)
);
defparam N_31_i_cZ.INIT=4'h8;
// @6:78
  LUT4 \rf_wdata[10]_26_4_d_cZ[0]  (
	.I0(N_23),
	.I1(N_134),
	.I2(un285_rf_wdata_cry_0_0_SUM),
	.I3(\rf_wdata[10]_26_4_d_d [0]),
	.F(\rf_wdata[10]_26_4_d [0])
);
defparam \rf_wdata[10]_26_4_d_cZ[0] .INIT=16'hFD20;
// @6:86
  LUT4 \dout_2_6[7]  (
	.I0(N_7_0),
	.I1(N_9),
	.I2(\rf_wdata[1] [7]),
	.I3(\rf_wdata[3] [7]),
	.F(N_493)
);
defparam \dout_2_6[7] .INIT=16'hA280;
// @6:86
  LUT4 \dout_2_6[6]  (
	.I0(N_7_0),
	.I1(N_9),
	.I2(\rf_wdata[1] [6]),
	.I3(\rf_wdata[3]_0 ),
	.F(N_492)
);
defparam \dout_2_6[6] .INIT=16'hA280;
// @6:86
  LUT4 \dout_2_6[4]  (
	.I0(N_7_0),
	.I1(N_9),
	.I2(\rf_wdata[1] [4]),
	.I3(\rf_wdata[3] [4]),
	.F(N_490)
);
defparam \dout_2_6[4] .INIT=16'hA280;
// @6:86
  LUT4 \dout_2_6[3]  (
	.I0(N_7_0),
	.I1(N_9),
	.I2(\rf_wdata[1] [3]),
	.I3(\rf_wdata[3] [3]),
	.F(N_489)
);
defparam \dout_2_6[3] .INIT=16'hA280;
// @6:86
  LUT4 \dout_2_6[2]  (
	.I0(N_7_0),
	.I1(N_9),
	.I2(\rf_wdata[1] [2]),
	.I3(\rf_wdata[3] [2]),
	.F(N_488)
);
defparam \dout_2_6[2] .INIT=16'hA280;
// @6:86
  LUT4 \dout_2_6[1]  (
	.I0(N_7_0),
	.I1(N_9),
	.I2(\rf_wdata[1] [1]),
	.I3(\rf_wdata[3] [1]),
	.F(N_487)
);
defparam \dout_2_6[1] .INIT=16'hA280;
// @6:86
  LUT4 \dout_2_6[0]  (
	.I0(N_7_0),
	.I1(N_9),
	.I2(\rf_wdata[1] [0]),
	.I3(\rf_wdata[3] [0]),
	.F(N_486)
);
defparam \dout_2_6[0] .INIT=16'hA280;
// @6:92
  LUT4 \un110_rf_wdata_6[1]  (
	.I0(N_48),
	.I1(N_503),
	.I2(arg2_0),
	.I3(\rf_wdata[1] [1]),
	.F(N_543)
);
defparam \un110_rf_wdata_6[1] .INIT=16'h8D88;
// @6:92
  LUT4 \un110_rf_wdata_6[4]  (
	.I0(N_48),
	.I1(N_506),
	.I2(arg2_0),
	.I3(\rf_wdata[1] [4]),
	.F(N_546)
);
defparam \un110_rf_wdata_6[4] .INIT=16'h8D88;
// @6:92
  LUT4 \un110_rf_wdata_6[7]  (
	.I0(N_48),
	.I1(N_509),
	.I2(arg2_0),
	.I3(\rf_wdata[1] [7]),
	.F(N_549)
);
defparam \un110_rf_wdata_6[7] .INIT=16'h8D88;
// @6:92
  LUT4 \un110_rf_wdata_6[6]  (
	.I0(N_48),
	.I1(N_508),
	.I2(arg2_0),
	.I3(\rf_wdata[1] [6]),
	.F(N_548)
);
defparam \un110_rf_wdata_6[6] .INIT=16'h8D88;
// @6:92
  LUT4 \un110_rf_wdata_6[3]  (
	.I0(N_48),
	.I1(N_505),
	.I2(arg2_0),
	.I3(\rf_wdata[1] [3]),
	.F(N_545)
);
defparam \un110_rf_wdata_6[3] .INIT=16'h8D88;
// @6:92
  LUT4 \un110_rf_wdata_6[0]  (
	.I0(N_48),
	.I1(N_502),
	.I2(arg2_0),
	.I3(\rf_wdata[1] [0]),
	.F(N_542)
);
defparam \un110_rf_wdata_6[0] .INIT=16'h8D88;
// @6:82
  LUT3 \un4_address_6[1]  (
	.I0(read8),
	.I1(\rf_wdata[2] [1]),
	.I2(\rf_wdata[3] [1]),
	.F(N_367)
);
defparam \un4_address_6[1] .INIT=8'hE4;
// @6:82
  LUT3 \un4_address_6[7]  (
	.I0(read8),
	.I1(\rf_wdata[2] [7]),
	.I2(\rf_wdata[3] [7]),
	.F(N_373)
);
defparam \un4_address_6[7] .INIT=8'hE4;
// @6:92
  LUT4 \un110_rf_wdata_3[1]  (
	.I0(N_48),
	.I1(arg2_0),
	.I2(\rf_wdata[2] [1]),
	.I3(\rf_wdata[3] [1]),
	.F(N_519)
);
defparam \un110_rf_wdata_3[1] .INIT=16'h3120;
// @6:92
  LUT4 \un110_rf_wdata_3[7]  (
	.I0(N_48),
	.I1(arg2_0),
	.I2(\rf_wdata[2] [7]),
	.I3(\rf_wdata[3] [7]),
	.F(N_525)
);
defparam \un110_rf_wdata_3[7] .INIT=16'h3120;
// @6:82
  LUT4 \un4_address_6[0]  (
	.I0(arg1[2]),
	.I1(read8),
	.I2(\rf_wdata[2] [0]),
	.I3(\rf_wdata[3] [0]),
	.F(N_366)
);
defparam \un4_address_6[0] .INIT=16'h5410;
// @6:92
  LUT4 \un110_rf_wdata_3[4]  (
	.I0(N_48),
	.I1(arg2_0),
	.I2(\rf_wdata[2] [4]),
	.I3(\rf_wdata[3] [4]),
	.F(N_522)
);
defparam \un110_rf_wdata_3[4] .INIT=16'h3120;
// @6:92
  LUT4 \un110_rf_wdata_3[6]  (
	.I0(N_48),
	.I1(arg2_0),
	.I2(\rf_wdata[2]_0 ),
	.I3(\rf_wdata[3]_0 ),
	.F(N_524)
);
defparam \un110_rf_wdata_3[6] .INIT=16'h3120;
// @6:92
  LUT4 \un110_rf_wdata_3[3]  (
	.I0(N_48),
	.I1(arg2_0),
	.I2(\rf_wdata[2] [3]),
	.I3(\rf_wdata[3] [3]),
	.F(N_521)
);
defparam \un110_rf_wdata_3[3] .INIT=16'h3120;
// @6:92
  LUT4 \un110_rf_wdata_3[2]  (
	.I0(N_48),
	.I1(arg2_0),
	.I2(\rf_wdata[2] [2]),
	.I3(\rf_wdata[3] [2]),
	.F(N_520)
);
defparam \un110_rf_wdata_3[2] .INIT=16'h3120;
// @6:92
  LUT4 \un110_rf_wdata_3[0]  (
	.I0(N_48),
	.I1(arg2_0),
	.I2(\rf_wdata[2] [0]),
	.I3(\rf_wdata[3] [0]),
	.F(N_518)
);
defparam \un110_rf_wdata_3[0] .INIT=16'h3120;
// @6:86
  LUT3 \dout_2_1[5]  (
	.I0(N_7_0),
	.I1(\rf_wdata[0] [5]),
	.I2(\rf_wdata[4] [5]),
	.F(N_451)
);
defparam \dout_2_1[5] .INIT=8'hD8;
// @6:86
  LUT3 \dout_2_1[1]  (
	.I0(N_7_0),
	.I1(\rf_wdata[0] [1]),
	.I2(\rf_wdata[4] [1]),
	.F(N_447)
);
defparam \dout_2_1[1] .INIT=8'hD8;
// @6:86
  LUT3 \dout_2_1[0]  (
	.I0(N_7_0),
	.I1(\rf_wdata[0] [0]),
	.I2(\rf_wdata[4] [0]),
	.F(N_446)
);
defparam \dout_2_1[0] .INIT=8'hD8;
// @6:82
  LUT4 \un4_address_6[6]  (
	.I0(arg1[2]),
	.I1(read8),
	.I2(\rf_wdata[2]_0 ),
	.I3(\rf_wdata[3]_0 ),
	.F(N_372)
);
defparam \un4_address_6[6] .INIT=16'h5410;
// @6:82
  LUT4 \un4_address_6[4]  (
	.I0(arg1[2]),
	.I1(read8),
	.I2(\rf_wdata[2] [4]),
	.I3(\rf_wdata[3] [4]),
	.F(N_370)
);
defparam \un4_address_6[4] .INIT=16'h5410;
// @6:82
  LUT4 \un4_address_6[2]  (
	.I0(arg1[2]),
	.I1(read8),
	.I2(\rf_wdata[2] [2]),
	.I3(\rf_wdata[3] [2]),
	.F(N_368)
);
defparam \un4_address_6[2] .INIT=16'h5410;
// @6:82
  LUT4 \un4_address_3[6]  (
	.I0(N_332),
	.I1(arg1[2]),
	.I2(read8),
	.I3(\rf_wdata[1] [6]),
	.F(N_348)
);
defparam \un4_address_3[6] .INIT=16'h3A0A;
// @6:82
  LUT4 \un4_address_3[4]  (
	.I0(N_330),
	.I1(arg1[2]),
	.I2(read8),
	.I3(\rf_wdata[1] [4]),
	.F(N_346)
);
defparam \un4_address_3[4] .INIT=16'h3A0A;
// @6:78
  LUT3 \rf_wdata[10]_26_4_d_d_cZ[0]  (
	.I0(N_23),
	.I1(N_48),
	.I2(cpu_din[0]),
	.F(\rf_wdata[10]_26_4_d_d [0])
);
defparam \rf_wdata[10]_26_4_d_d_cZ[0] .INIT=8'hB1;
// @6:67
  LUT4 N_157_i_cZ (
	.I0(N_167),
	.I1(ir_addr[0]),
	.I2(ir_addr[2]),
	.I3(un1_rf_wdata_1_i_0_o2_out),
	.F(N_157_i)
);
defparam N_157_i_cZ.INIT=16'h0041;
// @6:67
  LUT4 N_160_i_cZ (
	.I0(N_124),
	.I1(ir_addr[0]),
	.I2(ir_addr[1]),
	.I3(ir_addr[2]),
	.F(N_160_i)
);
defparam N_160_i_cZ.INIT=16'h0140;
// @6:82
  LUT4 \un4_address_7[5]  (
	.I0(N_331),
	.I1(N_339),
	.I2(arg1_0),
	.I3(read8),
	.F(N_379)
);
defparam \un4_address_7[5] .INIT=16'h00CA;
// @6:78
  LUT2 \rf_wdata[10]_26_4_s_cZ[0]  (
	.I0(N_23),
	.I1(N_134),
	.F(\rf_wdata[10]_26_4_s [0])
);
defparam \rf_wdata[10]_26_4_s_cZ[0] .INIT=4'h1;
// @6:106
  LUT4 N_130_i_cZ (
	.I0(N_167),
	.I1(ir_addr[0]),
	.I2(ir_addr[2]),
	.I3(un1_rf_wdata_1_i_0_o2_out),
	.F(N_130_i)
);
defparam N_130_i_cZ.INIT=16'h0004;
// @6:78
  LUT3 \rf_wdata[10]_26_2[1]  (
	.I0(N_134),
	.I1(un285_rf_wdata_cry_1_0_SUM),
	.I2(cpu_din[1]),
	.F(N_148)
);
defparam \rf_wdata[10]_26_2[1] .INIT=8'hE4;
// @6:82
  LUT3 \un4_address_1[7]  (
	.I0(N_134),
	.I1(\rf_wdata[0] [7]),
	.I2(\rf_wdata[4] [7]),
	.F(N_333)
);
defparam \un4_address_1[7] .INIT=8'hD8;
// @6:92
  LUT3 \un110_rf_wdata_1[4]  (
	.I0(arg2_0),
	.I1(\rf_wdata[0] [4]),
	.I2(\rf_wdata[4] [4]),
	.F(N_506)
);
defparam \un110_rf_wdata_1[4] .INIT=8'hE4;
// @6:92
  LUT3 \un110_rf_wdata_1[7]  (
	.I0(arg2_0),
	.I1(\rf_wdata[0] [7]),
	.I2(\rf_wdata[4] [7]),
	.F(N_509)
);
defparam \un110_rf_wdata_1[7] .INIT=8'hE4;
// @6:92
  LUT3 \un110_rf_wdata_1[6]  (
	.I0(arg2_0),
	.I1(\rf_wdata[0] [6]),
	.I2(\rf_wdata[4] [6]),
	.F(N_508)
);
defparam \un110_rf_wdata_1[6] .INIT=8'hE4;
// @6:92
  LUT3 \un110_rf_wdata_1[3]  (
	.I0(arg2_0),
	.I1(\rf_wdata[0] [3]),
	.I2(\rf_wdata[4] [3]),
	.F(N_505)
);
defparam \un110_rf_wdata_1[3] .INIT=8'hE4;
// @6:92
  LUT3 un110_m5_0_m2 (
	.I0(arg2_0),
	.I1(\rf_wdata[0] [0]),
	.I2(\rf_wdata[4] [0]),
	.F(N_502)
);
defparam un110_m5_0_m2.INIT=8'hE4;
// @6:106
  LUT4 N_171_i_0_o2 (
	.I0(N_167),
	.I1(ir_addr[0]),
	.I2(ir_addr[2]),
	.I3(un1_rf_wdata_1_i_0_o2_out),
	.F(N_130)
);
defparam N_171_i_0_o2.INIT=16'hFFFB;
// @6:82
  LUT4 \un4_address_1[5]  (
	.I0(N_134_i),
	.I1(ir_addr[0]),
	.I2(\rf_wdata[0] [5]),
	.I3(\rf_wdata[4] [5]),
	.F(N_331)
);
defparam \un4_address_1[5] .INIT=16'hF2D0;
// @6:82
  LUT4 \un4_address_1[6]  (
	.I0(N_134_i),
	.I1(ir_addr_0_rep1),
	.I2(\rf_wdata[0] [6]),
	.I3(\rf_wdata[4] [6]),
	.F(N_332)
);
defparam \un4_address_1[6] .INIT=16'hF2D0;
// @6:82
  LUT4 \un4_address_1[4]  (
	.I0(N_134_i),
	.I1(ir_addr[0]),
	.I2(\rf_wdata[0] [4]),
	.I3(\rf_wdata[4] [4]),
	.F(N_330)
);
defparam \un4_address_1[4] .INIT=16'hF2D0;
// @6:82
  LUT3 \un4_address_2[5]  (
	.I0(N_134_i),
	.I1(ir_addr[0]),
	.I2(\rf_wdata[2] [5]),
	.F(N_339)
);
defparam \un4_address_2[5] .INIT=8'hD0;
// @6:78
  LUT2 \rf_wdata[10]_26_2_0_a2[3]  (
	.I0(N_134_i),
	.I1(un285_rf_wdata_cry_3_0_SUM),
	.F(N_150)
);
defparam \rf_wdata[10]_26_2_0_a2[3] .INIT=4'h8;
// @6:78
  LUT2 un1_rf_wdata_12_0_a2_1_a2_cZ (
	.I0(N_48),
	.I1(ir_addr[1]),
	.F(un1_rf_wdata_12_0_a2_1_a2)
);
defparam un1_rf_wdata_12_0_a2_1_a2_cZ.INIT=4'h4;
// @6:92
  LUT2 \un110_rf_wdata_7[5]  (
	.I0(N_48),
	.I1(N_523),
	.F(\rf_wdata[15]_6_4 )
);
defparam \un110_rf_wdata_7[5] .INIT=4'h8;
// @6:78
  LUT2 un1_rf_wdata_1_i_0_o2_s (
	.I0(ir_addr_fast[1]),
	.I1(ir_addr_fast[3]),
	.F(un1_rf_wdata_1_i_0_o2_out)
);
defparam un1_rf_wdata_1_i_0_o2_s.INIT=4'hE;
// @6:86
  LUT3 \dout_2_3[7]  (
	.I0(N_9),
	.I1(N_453),
	.I2(\rf_wdata[2] [7]),
	.F(N_469)
);
defparam \dout_2_3[7] .INIT=8'hD8;
// @6:86
  LUT3 \dout_2_3[6]  (
	.I0(N_9),
	.I1(N_452),
	.I2(\rf_wdata[2]_0 ),
	.F(N_468)
);
defparam \dout_2_3[6] .INIT=8'hD8;
// @6:86
  LUT3 \dout_2_3[5]  (
	.I0(N_9),
	.I1(N_451),
	.I2(\rf_wdata[2] [5]),
	.F(N_467)
);
defparam \dout_2_3[5] .INIT=8'hD8;
// @6:86
  LUT3 \dout_2_3[4]  (
	.I0(N_9),
	.I1(N_450),
	.I2(\rf_wdata[2] [4]),
	.F(N_466)
);
defparam \dout_2_3[4] .INIT=8'hD8;
// @6:86
  LUT3 \dout_2_3[3]  (
	.I0(N_9),
	.I1(N_449),
	.I2(\rf_wdata[2] [3]),
	.F(N_465)
);
defparam \dout_2_3[3] .INIT=8'hD8;
// @6:86
  LUT3 \dout_2_3[2]  (
	.I0(N_9),
	.I1(N_448),
	.I2(\rf_wdata[2] [2]),
	.F(N_464)
);
defparam \dout_2_3[2] .INIT=8'hD8;
// @6:86
  LUT3 \dout_2_3[1]  (
	.I0(N_9),
	.I1(N_447),
	.I2(\rf_wdata[2] [1]),
	.F(N_463)
);
defparam \dout_2_3[1] .INIT=8'hD8;
// @6:86
  LUT3 \dout_2_3[0]  (
	.I0(N_9),
	.I1(N_446),
	.I2(\rf_wdata[2] [0]),
	.F(N_462)
);
defparam \dout_2_3[0] .INIT=8'hD8;
// @6:82
  LUT3 \un4_address_3[7]  (
	.I0(N_333),
	.I1(read8),
	.I2(\rf_wdata[1] [7]),
	.F(N_349)
);
defparam \un4_address_3[7] .INIT=8'hE2;
// @6:78
  LUT2 \rf_wdata[10]_26_11_d_s_cZ[2]  (
	.I0(N_134),
	.I1(ir_addr[0]),
	.F(\rf_wdata[10]_26_11_d_s [2])
);
defparam \rf_wdata[10]_26_11_d_s_cZ[2] .INIT=4'h4;
// @6:108
  LUT4 m5_0_i_0_1_0_cZ (
	.I0(N_379),
	.I1(N_381),
	.I2(\rf_wdata[15]_6 ),
	.I3(\rf_wdata[15]_6_0 ),
	.F(m5_0_i_0_1_0)
);
defparam m5_0_i_0_1_0_cZ.INIT=16'h03F5;
// @6:78
  LUT4 \rf_wdata[10]_26_10_d_1_cZ[0]  (
	.I0(N_17),
	.I1(N_23),
	.I2(N_134),
	.I3(N_209_i),
	.F(\rf_wdata[10]_26_10_d_1 [0])
);
defparam \rf_wdata[10]_26_10_d_1_cZ[0] .INIT=16'h2A7F;
// @6:78
  LUT4 \rf_wdata[10]_26_10_d[0]  (
	.I0(N_17),
	.I1(\rf_wdata[10]_26_7_d [0]),
	.I2(\rf_wdata[10]_26_10_d_1 [0]),
	.I3(\rf_wdata[15]_6_Z [0]),
	.F(N_211)
);
defparam \rf_wdata[10]_26_10_d[0] .INIT=16'hDAD0;
// @6:78
  LUT4 \rf_wdata[10]_26_11_cZ[7]  (
	.I0(N_17),
	.I1(\rf_wdata[10]_26_11_d [7]),
	.I2(op[2]),
	.I3(\rf_wdata[10]_26_11_1 [7]),
	.F(\rf_wdata[10]_26_11 [7])
);
defparam \rf_wdata[10]_26_11_cZ[7] .INIT=16'hCEC4;
// @6:78
  LUT4 \rf_wdata[10]_26_11_1_cZ[0]  (
	.I0(N_17),
	.I1(\rf_wdata[10]_26_4_s [0]),
	.I2(N_211),
	.I3(op[2]),
	.F(\rf_wdata[10]_26_11_1 [0])
);
defparam \rf_wdata[10]_26_11_1_cZ[0] .INIT=16'h0F44;
// @6:78
  LUT4 \rf_wdata[10]_26_11_cZ[0]  (
	.I0(\rf_wdata[10]_26_5_d [0]),
	.I1(op[2]),
	.I2(\rf_wdata[10]_26_11_1 [0]),
	.I3(\rf_wdata[15]_16 [0]),
	.F(\rf_wdata[10]_26_11 [0])
);
defparam \rf_wdata[10]_26_11_cZ[0] .INIT=16'h3E0E;
// @6:78
  LUT3 \rf_wdata[10]_26_11_d_cZ[7]  (
	.I0(N_218),
	.I1(op[2]),
	.I2(\rf_wdata[10]_26_11_d_N_2L1 ),
	.F(\rf_wdata[10]_26_11_d [7])
);
defparam \rf_wdata[10]_26_11_d_cZ[7] .INIT=8'h8B;
// @6:78
  LUT4 \rf_wdata[10]_26_11_d_N_2L1_cZ  (
	.I0(N_23),
	.I1(N_130),
	.I2(N_134_i),
	.I3(un285_rf_wdata_s_7_0_SUM),
	.F(\rf_wdata[10]_26_11_d_N_2L1 )
);
defparam \rf_wdata[10]_26_11_d_N_2L1_cZ .INIT=16'h4EEE;
// @6:78
  LUT4 \rf_wdata[10]_26_9[6]  (
	.I0(N_23),
	.I1(N_380),
	.I2(\rf_wdata[10]_26_9_1 [6]),
	.I3(\rf_wdata[15]_6_5 ),
	.F(N_209)
);
defparam \rf_wdata[10]_26_9[6] .INIT=16'hA5D0;
// @6:78
  LUT4 \rf_wdata[10]_26_11_N_4L5_cZ  (
	.I0(N_23),
	.I1(N_177_i_i_o2_1),
	.I2(N_177_i_i_o2_2_0),
	.I3(\rf_wdata[10]_26_11_N_4L5_N_2L1 ),
	.F(\rf_wdata[10]_26_11_N_4L5 )
);
defparam \rf_wdata[10]_26_11_N_4L5_cZ .INIT=16'h5455;
// @6:78
  LUT2 \rf_wdata[10]_26_11_N_4L5_N_2L1_cZ  (
	.I0(\rf_wdata[15]_6_1 ),
	.I1(\rf_wdata[15]_6_3 ),
	.F(\rf_wdata[10]_26_11_N_4L5_N_2L1 )
);
defparam \rf_wdata[10]_26_11_N_4L5_N_2L1_cZ .INIT=4'h2;
// @6:78
  LUT4 \rf_wdata[10]_26_11_N_5L7  (
	.I0(N_148_0),
	.I1(\rf_wdata[10]_26_11_N_4L5 ),
	.I2(\rf_wdata[10]_26_11_N_5L7_1 ),
	.I3(\rf_wdata[10]_26_11_N_5L7_N_5L9 ),
	.F(\rf_wdata[10]_26_11_1 [7])
);
defparam \rf_wdata[10]_26_11_N_5L7 .INIT=16'h4703;
// @6:78
  LUT4 \rf_wdata[10]_26_11_N_5L7_N_6L12  (
	.I0(N_23),
	.I1(N_130),
	.I2(N_154),
	.I3(un230_rf_wdata_s_7_0_SUM),
	.F(\rf_wdata[10]_26_11_N_5L7_1 )
);
defparam \rf_wdata[10]_26_11_N_5L7_N_6L12 .INIT=16'h15BF;
// @6:78
  LUT4 \rf_wdata[10]_26_9[3]  (
	.I0(N_23),
	.I1(N_377),
	.I2(\rf_wdata[10]_26_9_1 [3]),
	.I3(\rf_wdata[15]_6_2 ),
	.F(N_206)
);
defparam \rf_wdata[10]_26_9[3] .INIT=16'hA5D0;
// @6:78
  LUT3 \rf_wdata[10]_26_9_N_2L1  (
	.I0(N_23),
	.I1(N_37),
	.I2(N_134),
	.F(\rf_wdata[10]_26_9_1 [3])
);
defparam \rf_wdata[10]_26_9_N_2L1 .INIT=8'h1B;
// @6:78
  LUT4 \rf_wdata[10]_26_11_cZ[3]  (
	.I0(N_17),
	.I1(N_166),
	.I2(op[2]),
	.I3(\rf_wdata[10]_26_11_1 [3]),
	.F(\rf_wdata[10]_26_11 [3])
);
defparam \rf_wdata[10]_26_11_cZ[3] .INIT=16'h04FE;
// @6:78
  LUT4 \rf_wdata[10]_26_11_1_cZ[6]  (
	.I0(N_23),
	.I1(\rf_wdata[10]_26_11_d_d [6]),
	.I2(op[2]),
	.I3(\rf_wdata[10]_26_11_d_1 [6]),
	.F(\rf_wdata[10]_26_11_1 [6])
);
defparam \rf_wdata[10]_26_11_1_cZ[6] .INIT=16'h3237;
// @6:78
  LUT4 \rf_wdata[10]_26_11_cZ[6]  (
	.I0(N_17),
	.I1(N_145),
	.I2(op[2]),
	.I3(\rf_wdata[10]_26_11_1 [6]),
	.F(\rf_wdata[10]_26_11 [6])
);
defparam \rf_wdata[10]_26_11_cZ[6] .INIT=16'h08FD;
// @6:108
  LUT3 \rf_wdata[15]_16_6_1_cZ  (
	.I0(N_138),
	.I1(N_159),
	.I2(\rf_wdata[15]_6 ),
	.F(\rf_wdata[15]_16_6_1 )
);
defparam \rf_wdata[15]_16_6_1_cZ .INIT=8'h53;
// @6:108
  LUT4 \rf_wdata[15]_16_6  (
	.I0(N_121),
	.I1(N_130),
	.I2(\rf_wdata[15]_6_1 ),
	.I3(\rf_wdata[15]_16_6_1 ),
	.F(N_4_0)
);
defparam \rf_wdata[15]_16_6 .INIT=16'h505C;
// @6:78
  LUT4 \rf_wdata[10]_26_11_N_5L7_N_5L9_cZ  (
	.I0(N_130),
	.I1(N_163),
	.I2(\rf_wdata[10]_26_11_N_5L7_N_5L9_N_2L1 ),
	.I3(\rf_wdata[15]_6 ),
	.F(\rf_wdata[10]_26_11_N_5L7_N_5L9 )
);
defparam \rf_wdata[10]_26_11_N_5L7_N_5L9_cZ .INIT=16'h880A;
// @6:78
  LUT3 \rf_wdata[10]_26_11_N_5L7_N_5L9_N_2L1_cZ  (
	.I0(N_379),
	.I1(N_381),
	.I2(\rf_wdata[15]_6_0 ),
	.F(\rf_wdata[10]_26_11_N_5L7_N_5L9_N_2L1 )
);
defparam \rf_wdata[10]_26_11_N_5L7_N_5L9_N_2L1_cZ .INIT=8'h53;
// @6:106
  LUT4 \rf_wdata[15]_14_9  (
	.I0(N_156),
	.I1(N_162),
	.I2(\rf_wdata[15]_6_1 ),
	.I3(\rf_wdata[15]_14_9_N_2L1_0 ),
	.F(N_6)
);
defparam \rf_wdata[15]_14_9 .INIT=16'h0AFC;
// @6:106
  LUT3 \rf_wdata[15]_14_9_N_2L1_0_cZ  (
	.I0(m1_0_03_0_a2_0_a2),
	.I1(\rf_wdata[15]_6 ),
	.I2(\rf_wdata[15]_6_1 ),
	.F(\rf_wdata[15]_14_9_N_2L1_0 )
);
defparam \rf_wdata[15]_14_9_N_2L1_0_cZ .INIT=8'h53;
// @6:78
  LUT4 \rf_wdata[10]_26_11_1_cZ[4]  (
	.I0(N_23),
	.I1(N_148_0),
	.I2(N_5),
	.I3(un230_rf_wdata_cry_4_0_SUM),
	.F(\rf_wdata[10]_26_11_1 [4])
);
defparam \rf_wdata[10]_26_11_1_cZ[4] .INIT=16'h45EF;
// @6:78
  LUT4 \rf_wdata[10]_26_11_cZ[4]  (
	.I0(N_17),
	.I1(\rf_wdata[10]_26_11_d [4]),
	.I2(op[2]),
	.I3(\rf_wdata[10]_26_11_1 [4]),
	.F(\rf_wdata[10]_26_11 [4])
);
defparam \rf_wdata[10]_26_11_cZ[4] .INIT=16'hC4CE;
// @6:78
  LUT4 \rf_wdata[10]_26_9_1_cZ[6]  (
	.I0(N_23),
	.I1(N_130),
	.I2(N_134),
	.I3(\rf_wdata[10]_26_9_1_N_2L1_0 ),
	.F(\rf_wdata[10]_26_9_1 [6])
);
defparam \rf_wdata[10]_26_9_1_cZ[6] .INIT=16'h0A4E;
// @6:78
  LUT3 \rf_wdata[10]_26_9_1_N_2L1_0_cZ  (
	.I0(N_348),
	.I1(N_372),
	.I2(arg1_0),
	.F(\rf_wdata[10]_26_9_1_N_2L1_0 )
);
defparam \rf_wdata[10]_26_9_1_N_2L1_0_cZ .INIT=8'h35;
// @6:78
  LUT4 \rf_wdata[10]_26_11_1_cZ[3]  (
	.I0(op[2]),
	.I1(\rf_wdata[10]_26_11_1_N_2L1 ),
	.I2(\rf_wdata[10]_26_11_1_N_3L3 ),
	.I3(un230_rf_wdata_cry_3_0_SUM),
	.F(\rf_wdata[10]_26_11_1 [3])
);
defparam \rf_wdata[10]_26_11_1_cZ[3] .INIT=16'hB0B5;
// @6:78
  LUT3 \rf_wdata[10]_26_11_1_N_3L3_cZ  (
	.I0(N_23),
	.I1(N_214),
	.I2(op[2]),
	.F(\rf_wdata[10]_26_11_1_N_3L3 )
);
defparam \rf_wdata[10]_26_11_1_N_3L3_cZ .INIT=8'h35;
// @6:78
  LUT3 \rf_wdata[10]_26_11_1_N_2L1_cZ  (
	.I0(N_130),
	.I1(N_154),
	.I2(N_164),
	.F(\rf_wdata[10]_26_11_1_N_2L1 )
);
defparam \rf_wdata[10]_26_11_1_N_2L1_cZ .INIT=8'h08;
// @6:78
  LUT4 \rf_wdata[10]_26_11_d_1_cZ[6]  (
	.I0(N_17),
	.I1(N_134),
	.I2(N_164),
	.I3(\rf_wdata[10]_26_11_d_1_N_2L1 ),
	.F(\rf_wdata[10]_26_11_d_1 [6])
);
defparam \rf_wdata[10]_26_11_d_1_cZ[6] .INIT=16'h8B88;
// @6:78
  LUT2 \rf_wdata[10]_26_11_d_1_N_2L1_cZ  (
	.I0(m6_0_01),
	.I1(\rf_wdata[15]_6_0 ),
	.F(\rf_wdata[10]_26_11_d_1_N_2L1 )
);
defparam \rf_wdata[10]_26_11_d_1_N_2L1_cZ .INIT=4'h2;
// @6:106
  LUT4 \rf_wdata[15]_14_10_mb  (
	.I0(N_130),
	.I1(\rf_wdata[15]_6_1 ),
	.I2(\rf_wdata[15]_14_10_mb_N_3L4 ),
	.I3(\rf_wdata[15]_14_10_mb_N_4L6 ),
	.F(N_7)
);
defparam \rf_wdata[15]_14_10_mb .INIT=16'h80A2;
// @6:106
  LUT3 \rf_wdata[15]_14_10_mb_N_4L6_cZ  (
	.I0(N_156),
	.I1(N_163),
	.I2(\rf_wdata[15]_6 ),
	.F(\rf_wdata[15]_14_10_mb_N_4L6 )
);
defparam \rf_wdata[15]_14_10_mb_N_4L6_cZ .INIT=8'h53;
// @6:106
  LUT3 \rf_wdata[15]_14_10_mb_N_3L4_cZ  (
	.I0(N_374),
	.I1(m2_0_03_i_0_o2_0),
	.I2(\rf_wdata[15]_6_0 ),
	.F(\rf_wdata[15]_14_10_mb_N_3L4 )
);
defparam \rf_wdata[15]_14_10_mb_N_3L4_cZ .INIT=8'h23;
// @6:106
  LUT3 m3_0_03_i_0_m2_rn (
	.I0(N_374),
	.I1(N_376),
	.I2(\rf_wdata[15]_6_0 ),
	.F(m3_0_03_i_0_m2_rn_0)
);
defparam m3_0_03_i_0_m2_rn.INIT=8'hAC;
// @6:106
  LUT3 m3_0_03_i_0_m2_mb (
	.I0(N_136),
	.I1(m3_0_03_i_0_m2_rn_0),
	.I2(\rf_wdata[15]_6 ),
	.F(N_154)
);
defparam m3_0_03_i_0_m2_mb.INIT=8'hCA;
// @6:78
  LUT4 \rf_wdata[10]_26_11_1_cZ[5]  (
	.I0(N_23),
	.I1(N_148_0),
	.I2(N_6),
	.I3(un230_rf_wdata_cry_5_0_0_SUM),
	.F(\rf_wdata[10]_26_11_1 [5])
);
defparam \rf_wdata[10]_26_11_1_cZ[5] .INIT=16'h45EF;
// @6:78
  LUT4 \rf_wdata[10]_26_11[5]  (
	.I0(N_17),
	.I1(\rf_wdata[10]_26_11_d [5]),
	.I2(op[2]),
	.I3(\rf_wdata[10]_26_11_1 [5]),
	.F(\rf_wdata[1]_26 [5])
);
defparam \rf_wdata[10]_26_11[5] .INIT=16'hC4CE;
// @6:106
  LUT3 \rf_wdata[15]_14_8_1_cZ  (
	.I0(N_136),
	.I1(N_162),
	.I2(\rf_wdata[15]_6 ),
	.F(\rf_wdata[15]_14_8_1 )
);
defparam \rf_wdata[15]_14_8_1_cZ .INIT=8'h53;
// @6:106
  LUT3 \rf_wdata[15]_14_8  (
	.I0(N_133),
	.I1(\rf_wdata[15]_6_1 ),
	.I2(\rf_wdata[15]_14_8_1 ),
	.F(N_5)
);
defparam \rf_wdata[15]_14_8 .INIT=8'h47;
// @6:106
  LUT3 g0_4 (
	.I0(g0_4_3),
	.I1(g1_1),
	.I2(\rf_wdata[15]_6_4 ),
	.F(N_164)
);
defparam g0_4.INIT=8'hFE;
// @6:106
  LUT4 g0_3 (
	.I0(N_375),
	.I1(N_376),
	.I2(\rf_wdata[15]_6 ),
	.I3(\rf_wdata[15]_6_0 ),
	.F(m2_0_03_i_0_o2_0)
);
defparam g0_3.INIT=16'hF053;
  LUT4 g0_4_3_cZ (
	.I0(\rf_wdata[15]_6_1 ),
	.I1(\rf_wdata[15]_6_2 ),
	.I2(\rf_wdata[15]_6_3 ),
	.I3(\rf_wdata[15]_6_6 ),
	.F(g0_4_3)
);
defparam g0_4_3_cZ.INIT=16'hFFFE;
// @6:106
  LUT3 g1_1_cZ (
	.I0(N_524),
	.I1(N_548),
	.I2(arg1_0),
	.F(g1_1)
);
defparam g1_1_cZ.INIT=8'hAC;
// @6:78
  LUT3 g0_cZ (
	.I0(\rf_wdata[10]_26_5_d [1]),
	.I1(g0_1),
	.I2(\rf_wdata[10]_26_11_1_0 [1]),
	.F(g0)
);
defparam g0_cZ.INIT=8'h8B;
// @6:78
  LUT4 g0_0 (
	.I0(N_212),
	.I1(g1_0),
	.I2(g1_3_0),
	.I3(op[2]),
	.F(\rf_wdata[10]_26_11_1_0 [1])
);
defparam g0_0.INIT=16'h55F3;
// @6:78
  LUT4 g0_1_cZ (
	.I0(N_17),
	.I1(N_23),
	.I2(N_119_1),
	.I3(g2_1),
	.F(g0_1)
);
defparam g0_1_cZ.INIT=16'hEAC8;
// @6:78
  LUT3 g1_0_cZ (
	.I0(N_243),
	.I1(\rf_wdata[10]_26_11_d_N_2_0 ),
	.I2(\rf_wdata[15]_6_1 ),
	.F(g1_0)
);
defparam g1_0_cZ.INIT=8'h3A;
  LUT4 g1_3_0_cZ (
	.I0(N_177_i_i_o2_1),
	.I1(N_177_i_i_o2_2_0),
	.I2(g1_0_0),
	.I3(\rf_wdata[15]_6_3 ),
	.F(g1_3_0)
);
defparam g1_3_0_cZ.INIT=16'hFFFE;
// @6:78
  LUT4 g0_2 (
	.I0(N_134_i),
	.I1(N_177_i_i_o2_1),
	.I2(N_177_i_i_o2_2_0),
	.I3(\rf_wdata[15]_6_3 ),
	.F(\rf_wdata[10]_26_3_0 [1])
);
defparam g0_2.INIT=16'h0002;
// @6:106
  LUT4 g0_7 (
	.I0(N_524),
	.I1(N_548),
	.I2(arg1_0),
	.I3(\rf_wdata[15]_6_4 ),
	.F(N_177_i_i_o2_2_0)
);
defparam g0_7.INIT=16'hFFAC;
// @6:78
  LUT3 g0_8 (
	.I0(N_380),
	.I1(m5_0_i_0_1_0),
	.I2(\rf_wdata[15]_6 ),
	.F(\rf_wdata[10]_26_11_d_N_2_0 )
);
defparam g0_8.INIT=8'h7C;
// @6:78
  LUT3 g0_9 (
	.I0(N_167),
	.I1(ir_addr[2]),
	.I2(ir_addr[3]),
	.F(N_119_1)
);
defparam g0_9.INIT=8'hFB;
  LUT3 g2_1_cZ (
	.I0(N_167),
	.I1(ir_addr[2]),
	.I2(ir_addr[3]),
	.F(g2_1)
);
defparam g2_1_cZ.INIT=8'hFB;
// @6:106
  LUT2 g0_10 (
	.I0(\rf_wdata[15]_6_2 ),
	.I1(\rf_wdata[15]_6_6 ),
	.F(N_177_i_i_o2_1)
);
defparam g0_10.INIT=4'hE;
  LUT2 g1_0_0_cZ (
	.I0(N_130),
	.I1(N_134_i),
	.F(g1_0_0)
);
defparam g1_0_0_cZ.INIT=4'h7;
// @6:106
  LUT3 g0_14 (
	.I0(N_375),
	.I1(N_377),
	.I2(\rf_wdata[15]_6_0 ),
	.F(N_136)
);
defparam g0_14.INIT=8'hAC;
// @6:82
  LUT3 g0_15 (
	.I0(N_345),
	.I1(N_369),
	.I2(arg1_0),
	.F(N_377)
);
defparam g0_15.INIT=8'hCA;
// @6:82
  LUT3 g0_16 (
	.I0(N_329_0_0_1),
	.I1(read8),
	.I2(\rf_wdata[1] [3]),
	.F(N_345)
);
defparam g0_16.INIT=8'hE2;
// @6:82
  LUT3 g0_18 (
	.I0(read8),
	.I1(\rf_wdata[2] [3]),
	.I2(\rf_wdata[3] [3]),
	.F(N_369)
);
defparam g0_18.INIT=8'hE4;
// @6:78
  LUT4 \rf_wdata[10]_26_11_7_rep1  (
	.I0(N_17),
	.I1(\rf_wdata[10]_26_11_d [7]),
	.I2(op[2]),
	.I3(\rf_wdata[10]_26_11_1 [7]),
	.F(\rf_wdata[1]_26_7_rep1 )
);
defparam \rf_wdata[10]_26_11_7_rep1 .INIT=16'hCEC4;
// @6:78
  LUT4 \rf_wdata[10]_26_11_7_rep2  (
	.I0(N_17),
	.I1(\rf_wdata[10]_26_11_d [7]),
	.I2(op[2]),
	.I3(\rf_wdata[10]_26_11_1 [7]),
	.F(\rf_wdata[1]_26_7_rep2 )
);
defparam \rf_wdata[10]_26_11_7_rep2 .INIT=16'hCEC4;
// @6:78
  LUT4 \rf_wdata[10]_26_11_7_rep3  (
	.I0(N_17),
	.I1(\rf_wdata[10]_26_11_d [7]),
	.I2(op[2]),
	.I3(\rf_wdata[10]_26_11_1 [7]),
	.F(\rf_wdata[1]_26_7_rep3 )
);
defparam \rf_wdata[10]_26_11_7_rep3 .INIT=16'hCEC4;
// @6:78
  LUT4 \rf_wdata[10]_26_11_3_rep1  (
	.I0(N_17),
	.I1(N_166),
	.I2(op[2]),
	.I3(\rf_wdata[10]_26_11_1 [3]),
	.F(\rf_wdata[1]_26_3_rep1 )
);
defparam \rf_wdata[10]_26_11_3_rep1 .INIT=16'h04FE;
// @6:78
  LUT4 \rf_wdata[10]_26_11_3_rep2  (
	.I0(N_17),
	.I1(N_166),
	.I2(op[2]),
	.I3(\rf_wdata[10]_26_11_1 [3]),
	.F(\rf_wdata[1]_26_3_rep2 )
);
defparam \rf_wdata[10]_26_11_3_rep2 .INIT=16'h04FE;
// @6:78
  LUT4 \rf_wdata[10]_26_11_3_rep3  (
	.I0(N_17),
	.I1(N_166),
	.I2(op[2]),
	.I3(\rf_wdata[10]_26_11_1 [3]),
	.F(\rf_wdata[1]_26_3_rep3 )
);
defparam \rf_wdata[10]_26_11_3_rep3 .INIT=16'h04FE;
// @6:78
  LUT4 \rf_wdata[10]_26_11_6_rep1  (
	.I0(N_17),
	.I1(N_145),
	.I2(op[2]),
	.I3(\rf_wdata[10]_26_11_1 [6]),
	.F(\rf_wdata[1]_26_6_rep1 )
);
defparam \rf_wdata[10]_26_11_6_rep1 .INIT=16'h08FD;
// @6:78
  LUT4 \rf_wdata[10]_26_11_6_rep2  (
	.I0(N_17),
	.I1(N_145),
	.I2(op[2]),
	.I3(\rf_wdata[10]_26_11_1 [6]),
	.F(\rf_wdata[1]_26_6_rep2 )
);
defparam \rf_wdata[10]_26_11_6_rep2 .INIT=16'h08FD;
// @6:78
  LUT4 \rf_wdata[10]_26_11_6_rep3  (
	.I0(N_17),
	.I1(N_145),
	.I2(op[2]),
	.I3(\rf_wdata[10]_26_11_1 [6]),
	.F(\rf_wdata[1]_26_6_rep3 )
);
defparam \rf_wdata[10]_26_11_6_rep3 .INIT=16'h08FD;
// @6:78
  LUT4 \rf_wdata[10]_26_11_4_rep1  (
	.I0(N_17),
	.I1(\rf_wdata[10]_26_11_d [4]),
	.I2(op[2]),
	.I3(\rf_wdata[10]_26_11_1 [4]),
	.F(\rf_wdata[1]_26_4_rep1 )
);
defparam \rf_wdata[10]_26_11_4_rep1 .INIT=16'hC4CE;
// @6:78
  LUT4 \rf_wdata[10]_26_11_4_rep2  (
	.I0(N_17),
	.I1(\rf_wdata[10]_26_11_d [4]),
	.I2(op[2]),
	.I3(\rf_wdata[10]_26_11_1 [4]),
	.F(\rf_wdata[1]_26_4_rep2 )
);
defparam \rf_wdata[10]_26_11_4_rep2 .INIT=16'hC4CE;
// @6:78
  LUT4 \rf_wdata[10]_26_11_4_rep3  (
	.I0(N_17),
	.I1(\rf_wdata[10]_26_11_d [4]),
	.I2(op[2]),
	.I3(\rf_wdata[10]_26_11_1 [4]),
	.F(\rf_wdata[1]_26_4_rep3 )
);
defparam \rf_wdata[10]_26_11_4_rep3 .INIT=16'hC4CE;
// @6:78
  LUT3 g0_rep1 (
	.I0(\rf_wdata[10]_26_5_d [1]),
	.I1(g0_1),
	.I2(\rf_wdata[10]_26_11_1_0 [1]),
	.F(\rf_wdata[1]_26_1_rep1 )
);
defparam g0_rep1.INIT=8'h8B;
// @6:78
  LUT3 g0_rep2 (
	.I0(\rf_wdata[10]_26_5_d [1]),
	.I1(g0_1),
	.I2(\rf_wdata[10]_26_11_1_0 [1]),
	.F(\rf_wdata[1]_26_1_rep2 )
);
defparam g0_rep2.INIT=8'h8B;
// @6:78
  LUT3 g0_rep3 (
	.I0(\rf_wdata[10]_26_5_d [1]),
	.I1(g0_1),
	.I2(\rf_wdata[10]_26_11_1_0 [1]),
	.F(\rf_wdata[1]_26_1_rep3 )
);
defparam g0_rep3.INIT=8'h8B;
// @6:78
  LUT4 \rf_wdata[10]_26_11_5_rep1  (
	.I0(N_17),
	.I1(\rf_wdata[10]_26_11_d [5]),
	.I2(op[2]),
	.I3(\rf_wdata[10]_26_11_1 [5]),
	.F(\rf_wdata[1]_26_5_rep1 )
);
defparam \rf_wdata[10]_26_11_5_rep1 .INIT=16'hC4CE;
// @6:78
  LUT4 \rf_wdata[10]_26_11_0_rep1  (
	.I0(\rf_wdata[10]_26_5_d [0]),
	.I1(op[2]),
	.I2(\rf_wdata[10]_26_11_1 [0]),
	.I3(\rf_wdata[15]_16 [0]),
	.F(\rf_wdata[1]_26_0_rep1 )
);
defparam \rf_wdata[10]_26_11_0_rep1 .INIT=16'h3E0E;
// @6:78
  LUT4 \rf_wdata[10]_26_11_0_rep2  (
	.I0(\rf_wdata[10]_26_5_d [0]),
	.I1(op[2]),
	.I2(\rf_wdata[10]_26_11_1 [0]),
	.I3(\rf_wdata[15]_16 [0]),
	.F(\rf_wdata[1]_26_0_rep2 )
);
defparam \rf_wdata[10]_26_11_0_rep2 .INIT=16'h3E0E;
// @6:78
  LUT4 \rf_wdata[10]_26_11_0_rep3  (
	.I0(\rf_wdata[10]_26_5_d [0]),
	.I1(op[2]),
	.I2(\rf_wdata[10]_26_11_1 [0]),
	.I3(\rf_wdata[15]_16 [0]),
	.F(\rf_wdata[1]_26_0_rep3 )
);
defparam \rf_wdata[10]_26_11_0_rep3 .INIT=16'h3E0E;
// @6:92
  LUT4 \un110_rf_wdata_7[2]  (
	.I0(N_134_i),
	.I1(N_520),
	.I2(N_544),
	.I3(ir_addr_0_rep1),
	.F(\rf_wdata[15]_6_1 )
);
defparam \un110_rf_wdata_7[2] .INIT=16'hD8F0;
// @6:92
  LUT4 \un110_rf_wdata_6[2]  (
	.I0(arg2_0),
	.I1(\rf_wdata[0] [2]),
	.I2(\rf_wdata[1] [2]),
	.I3(un110_rf_wdata_6_N_2L1),
	.F(N_544)
);
defparam \un110_rf_wdata_6[2] .INIT=16'h50EE;
// @6:92
  LUT4 \un110_rf_wdata_3_1_0_cZ[5]  (
	.I0(N_134_i),
	.I1(arg2_0),
	.I2(ir_addr_0_rep1),
	.I3(\rf_wdata[4] [5]),
	.F(un110_rf_wdata_3_1_0[5])
);
defparam \un110_rf_wdata_3_1_0_cZ[5] .INIT=16'h5F13;
// @6:92
  LUT4 \un110_rf_wdata_3[5]  (
	.I0(arg2_0),
	.I1(\rf_wdata[0] [5]),
	.I2(\rf_wdata[2] [5]),
	.I3(un110_rf_wdata_3_1_0[5]),
	.F(N_523)
);
defparam \un110_rf_wdata_3[5] .INIT=16'hEE50;
// @6:82
  LUT4 g0_17 (
	.I0(m12_i_o2_x),
	.I1(N_172_i_i_o2_x),
	.I2(\rf_wdata[0] [3]),
	.I3(\rf_wdata[4] [3]),
	.F(N_329_0_0_1)
);
defparam g0_17.INIT=16'hF1E0;
// @6:82
  LUT4 \un4_address_1[1]  (
	.I0(m12_i_o2_x),
	.I1(N_172_i_i_o2_x),
	.I2(\rf_wdata[0] [1]),
	.I3(\rf_wdata[4] [1]),
	.F(N_327)
);
defparam \un4_address_1[1] .INIT=16'hF1E0;
// @6:82
  LUT4 \un4_address_3[1]  (
	.I0(N_167),
	.I1(un1_address_13_0_a2_0_a2_x),
	.I2(N_327),
	.I3(\rf_wdata[1] [1]),
	.F(N_343)
);
defparam \un4_address_3[1] .INIT=16'hF4B0;
// @6:92
  LUT4 un110_rf_wdata_6_N_2L1_cZ (
	.I0(m12_i_o2_x_0),
	.I1(m7_i_0_x),
	.I2(arg2_0),
	.I3(\rf_wdata[4] [2]),
	.F(un110_rf_wdata_6_N_2L1)
);
defparam un110_rf_wdata_6_N_2L1_cZ.INIT=16'h11F1;
// @6:92
  LUT4 un110_m5_0_m2_0 (
	.I0(N_367_0),
	.I1(\rf_wdata[0] [1]),
	.I2(un110_m5_0_m2_0_N_2L1),
	.I3(un110_m5_0_m2_0_N_3L3),
	.F(N_503)
);
defparam un110_m5_0_m2_0.INIT=16'h6CCC;
// @6:92
  LUT4 un110_m5_0_m2_0_N_3L3_cZ (
	.I0(ir_addr[3]),
	.I1(ir_addr[4]),
	.I2(\rf_wdata[0] [1]),
	.I3(\rf_wdata[4] [1]),
	.F(un110_m5_0_m2_0_N_3L3)
);
defparam un110_m5_0_m2_0_N_3L3_cZ.INIT=16'h0110;
// @6:92
  LUT4 un110_m5_0_m2_0_N_2L1_cZ (
	.I0(ir_addr[5]),
	.I1(ir_addr[6]),
	.I2(ir_addr[7]),
	.I3(ir_addr_fast[1]),
	.F(un110_m5_0_m2_0_N_2L1)
);
defparam un110_m5_0_m2_0_N_2L1_cZ.INIT=16'h0100;
// @6:108
  LUT4 \rf_wdata[15]_16_5  (
	.I0(m6_0_01),
	.I1(\rf_wdata[15]_6_0 ),
	.I2(\rf_wdata[15]_6_1 ),
	.I3(\rf_wdata[15]_16_5_N_2L1_0 ),
	.F(N_3_0)
);
defparam \rf_wdata[15]_16_5 .INIT=16'h202F;
// @6:108
  LUT4 \rf_wdata[15]_16_5_N_2L1_0_cZ  (
	.I0(N_130),
	.I1(N_158),
	.I2(N_159),
	.I3(\rf_wdata[15]_6 ),
	.F(\rf_wdata[15]_16_5_N_2L1_0 )
);
defparam \rf_wdata[15]_16_5_N_2L1_0_cZ .INIT=16'h5F77;
// @6:82
  LUT4 \un4_address_3[2]  (
	.I0(arg1[2]),
	.I1(read8),
	.I2(\rf_wdata[1] [2]),
	.I3(un4_address_3_N_2L1),
	.F(m10_6_N_2L1_0_1_1)
);
defparam \un4_address_3[2] .INIT=16'h4073;
// @6:82
  LUT4 un4_address_3_N_2L1_cZ (
	.I0(N_134_i),
	.I1(ir_addr[0]),
	.I2(\rf_wdata[0] [2]),
	.I3(\rf_wdata[4] [2]),
	.F(un4_address_3_N_2L1)
);
defparam un4_address_3_N_2L1_cZ.INIT=16'h0D2F;
// @6:82
  LUT4 \un4_address_3_1_cZ[0]  (
	.I0(N_134_i),
	.I1(ir_addr[0]),
	.I2(\rf_wdata[0] [0]),
	.I3(\rf_wdata[4] [0]),
	.F(un4_address_3_1[0])
);
defparam \un4_address_3_1_cZ[0] .INIT=16'h0D2F;
// @6:82
  LUT4 \un4_address_3[0]  (
	.I0(arg1[2]),
	.I1(read8),
	.I2(\rf_wdata[1] [0]),
	.I3(un4_address_3_1[0]),
	.F(N_342)
);
defparam \un4_address_3[0] .INIT=16'h4073;
  LUT3 \un1_rf_wdata[0]_axb_1_lofx_cZ  (
	.I0(N_119_1),
	.I1(N_293),
	.I2(ir_addr[1]),
	.F(\un1_rf_wdata[0]_axb_1_lofx )
);
defparam \un1_rf_wdata[0]_axb_1_lofx_cZ .INIT=8'h10;
  LUT4 un285_rf_wdata_axb_1_lofx_cZ (
	.I0(N_43_i),
	.I1(N_130),
	.I2(N_375),
	.I3(\rf_wdata[15]_6_0 ),
	.F(un285_rf_wdata_axb_1_lofx)
);
defparam un285_rf_wdata_axb_1_lofx_cZ.INIT=16'h6A95;
  LUT4 un285_rf_wdata_axb_2_lofx_cZ (
	.I0(N_40_i),
	.I1(N_130),
	.I2(N_376),
	.I3(\rf_wdata[15]_6_1 ),
	.F(un285_rf_wdata_axb_2_lofx)
);
defparam un285_rf_wdata_axb_2_lofx_cZ.INIT=16'h6A95;
  LUT4 un285_rf_wdata_axb_3_lofx_cZ (
	.I0(N_37_i),
	.I1(N_130),
	.I2(N_377),
	.I3(\rf_wdata[15]_6_2 ),
	.F(un285_rf_wdata_axb_3_lofx)
);
defparam un285_rf_wdata_axb_3_lofx_cZ.INIT=16'h6A95;
  LUT4 un285_rf_wdata_axb_4_lofx_cZ (
	.I0(N_34_i),
	.I1(N_130),
	.I2(N_378),
	.I3(\rf_wdata[15]_6_3 ),
	.F(un285_rf_wdata_axb_4_lofx)
);
defparam un285_rf_wdata_axb_4_lofx_cZ.INIT=16'h6A95;
  LUT2 un285_rf_wdata_axb_5_lofx_cZ (
	.I0(N_48),
	.I1(N_523),
	.F(un285_rf_wdata_axb_5_lofx)
);
defparam un285_rf_wdata_axb_5_lofx_cZ.INIT=4'h7;
  LUT4 un285_rf_wdata_axb_6_lofx_cZ (
	.I0(N_28_i),
	.I1(N_130),
	.I2(N_380),
	.I3(\rf_wdata[15]_6_5 ),
	.F(un285_rf_wdata_axb_6_lofx)
);
defparam un285_rf_wdata_axb_6_lofx_cZ.INIT=16'h6A95;
// @6:104
  LUT3 un285_rf_wdata_axb_7_cZ (
	.I0(N_130),
	.I1(N_381),
	.I2(\rf_wdata[15]_6_6 ),
	.F(un285_rf_wdata_axb_7)
);
defparam un285_rf_wdata_axb_7_cZ.INIT=8'h87;
  LUT4 un230_rf_wdata_axb_1_lofx_cZ (
	.I0(N_43_i),
	.I1(N_130),
	.I2(N_375),
	.I3(\rf_wdata[15]_6_0 ),
	.F(un230_rf_wdata_axb_1_lofx)
);
defparam un230_rf_wdata_axb_1_lofx_cZ.INIT=16'h956A;
  LUT4 un230_rf_wdata_axb_2_lofx_cZ (
	.I0(N_40_i),
	.I1(N_130),
	.I2(N_376),
	.I3(\rf_wdata[15]_6_1 ),
	.F(un230_rf_wdata_axb_2_lofx)
);
defparam un230_rf_wdata_axb_2_lofx_cZ.INIT=16'h956A;
  LUT4 un230_rf_wdata_axb_3_lofx_cZ (
	.I0(N_37_i),
	.I1(N_130),
	.I2(N_377),
	.I3(\rf_wdata[15]_6_2 ),
	.F(un230_rf_wdata_axb_3_lofx)
);
defparam un230_rf_wdata_axb_3_lofx_cZ.INIT=16'h956A;
  LUT4 un230_rf_wdata_axb_4_lofx_cZ (
	.I0(N_34_i),
	.I1(N_130),
	.I2(N_378),
	.I3(\rf_wdata[15]_6_3 ),
	.F(un230_rf_wdata_axb_4_lofx)
);
defparam un230_rf_wdata_axb_4_lofx_cZ.INIT=16'h956A;
  LUT2 un230_rf_wdata_axb_5_lofx_cZ (
	.I0(N_130),
	.I1(N_379),
	.F(un230_rf_wdata_axb_5_lofx)
);
defparam un230_rf_wdata_axb_5_lofx_cZ.INIT=4'h8;
  LUT4 un230_rf_wdata_axb_6_lofx_cZ (
	.I0(N_28_i),
	.I1(N_130),
	.I2(N_380),
	.I3(\rf_wdata[15]_6_5 ),
	.F(un230_rf_wdata_axb_6_lofx)
);
defparam un230_rf_wdata_axb_6_lofx_cZ.INIT=16'h956A;
// @6:102
  LUT3 un230_rf_wdata_axb_7_cZ (
	.I0(N_130),
	.I1(N_381),
	.I2(\rf_wdata[15]_6_6 ),
	.F(un230_rf_wdata_axb_7)
);
defparam un230_rf_wdata_axb_7_cZ.INIT=8'h78;
  LUT2 un2_address_axb_1_lofx_cZ (
	.I0(N_130),
	.I1(N_375),
	.F(un2_address_axb_1_lofx)
);
defparam un2_address_axb_1_lofx_cZ.INIT=4'h8;
  LUT4 un2_address_axb_2_lofx_cZ (
	.I0(N_40_i),
	.I1(N_130),
	.I2(N_376),
	.I3(arg2_0),
	.F(un2_address_axb_2_lofx)
);
defparam un2_address_axb_2_lofx_cZ.INIT=16'h956A;
  LUT2 un2_address_axb_5_lofx_cZ (
	.I0(N_130),
	.I1(N_379),
	.F(un2_address_axb_5_lofx)
);
defparam un2_address_axb_5_lofx_cZ.INIT=4'h8;
// @6:108
  LUT4 m7_0_i_0_o2 (
	.I0(N_130),
	.I1(N_349),
	.I2(N_373),
	.I3(arg1_0),
	.F(N_12)
);
defparam m7_0_i_0_o2.INIT=16'h5F77;
  LUT2 \rf_wdata[15]_6_axb_0_i_lofx_cZ  (
	.I0(N_130),
	.I1(N_374),
	.F(\rf_wdata[15]_6_axb_0_i_lofx )
);
defparam \rf_wdata[15]_6_axb_0_i_lofx_cZ .INIT=4'h7;
  LUT2 \rf_wdata[15]_6_axb_1_i_lofx_cZ  (
	.I0(N_130),
	.I1(N_375),
	.F(\rf_wdata[15]_6_axb_1_i_lofx )
);
defparam \rf_wdata[15]_6_axb_1_i_lofx_cZ .INIT=4'h7;
  LUT2 \rf_wdata[15]_6_axb_2_i_lofx_cZ  (
	.I0(N_130),
	.I1(N_376),
	.F(\rf_wdata[15]_6_axb_2_i_lofx )
);
defparam \rf_wdata[15]_6_axb_2_i_lofx_cZ .INIT=4'h7;
  LUT2 \rf_wdata[15]_6_axb_3_i_lofx_cZ  (
	.I0(N_130),
	.I1(N_377),
	.F(\rf_wdata[15]_6_axb_3_i_lofx )
);
defparam \rf_wdata[15]_6_axb_3_i_lofx_cZ .INIT=4'h7;
  LUT2 \rf_wdata[15]_6_axb_4_i_lofx_cZ  (
	.I0(N_130),
	.I1(N_378),
	.F(\rf_wdata[15]_6_axb_4_i_lofx )
);
defparam \rf_wdata[15]_6_axb_4_i_lofx_cZ .INIT=4'h7;
  LUT2 \rf_wdata[15]_6_axb_5_i_lofx_cZ  (
	.I0(N_130),
	.I1(N_379),
	.F(\rf_wdata[15]_6_axb_5_i_lofx )
);
defparam \rf_wdata[15]_6_axb_5_i_lofx_cZ .INIT=4'h7;
  LUT2 \rf_wdata[15]_6_axb_6_i_lofx_cZ  (
	.I0(N_130),
	.I1(N_380),
	.F(\rf_wdata[15]_6_axb_6_i_lofx )
);
defparam \rf_wdata[15]_6_axb_6_i_lofx_cZ .INIT=4'h7;
  LUT2 \rf_wdata[15]_6_axb_7_i_lofx_cZ  (
	.I0(N_130),
	.I1(N_381),
	.F(\rf_wdata[15]_6_axb_7_i_lofx )
);
defparam \rf_wdata[15]_6_axb_7_i_lofx_cZ .INIT=4'h7;
  LUT2 un230_rf_wdata_cry_5_ns_cZ (
	.I0(N_48),
	.I1(N_523),
	.F(un230_rf_wdata_cry_5_ns)
);
defparam un230_rf_wdata_cry_5_ns_cZ.INIT=4'h8;
  LUT2 un2_address_cry_1_ns_cZ (
	.I0(N_134_i),
	.I1(ir_addr[0]),
	.F(un2_address_cry_1_ns)
);
defparam un2_address_cry_1_ns_cZ.INIT=4'h8;
  LUT4 \dout_2_1_1_0_cZ[2]  (
	.I0(ir_addr[1]),
	.I1(ir_addr[2]),
	.I2(\rf_wdata[0] [2]),
	.I3(\rf_wdata[4] [2]),
	.F(dout_2_1_1_0[2])
);
defparam \dout_2_1_1_0_cZ[2] .INIT=16'hF0F0;
  LUT4 \dout_2_1_1_1_cZ[2]  (
	.I0(ir_addr[1]),
	.I1(ir_addr[2]),
	.I2(\rf_wdata[0] [2]),
	.I3(\rf_wdata[4] [2]),
	.F(dout_2_1_1_1[2])
);
defparam \dout_2_1_1_1_cZ[2] .INIT=16'hF0F0;
  LUT4 \dout_2_1_0_0_cZ[2]  (
	.I0(ir_addr[1]),
	.I1(ir_addr[2]),
	.I2(\rf_wdata[0] [2]),
	.I3(\rf_wdata[4] [2]),
	.F(dout_2_1_0_0[2])
);
defparam \dout_2_1_0_0_cZ[2] .INIT=16'hFC30;
  LUT4 \dout_2_1_0_1_cZ[2]  (
	.I0(ir_addr[1]),
	.I1(ir_addr[2]),
	.I2(\rf_wdata[0] [2]),
	.I3(\rf_wdata[4] [2]),
	.F(dout_2_1_0_1[2])
);
defparam \dout_2_1_0_1_cZ[2] .INIT=16'hF2D0;
  LUT4 \dout_2_1_1_0_cZ[3]  (
	.I0(ir_addr[1]),
	.I1(ir_addr[2]),
	.I2(\rf_wdata[0] [3]),
	.I3(\rf_wdata[4] [3]),
	.F(dout_2_1_1_0[3])
);
defparam \dout_2_1_1_0_cZ[3] .INIT=16'hF0F0;
  LUT4 \dout_2_1_1_1_cZ[3]  (
	.I0(ir_addr[1]),
	.I1(ir_addr[2]),
	.I2(\rf_wdata[0] [3]),
	.I3(\rf_wdata[4] [3]),
	.F(dout_2_1_1_1[3])
);
defparam \dout_2_1_1_1_cZ[3] .INIT=16'hF0F0;
  LUT4 \dout_2_1_0_0_cZ[3]  (
	.I0(ir_addr[1]),
	.I1(ir_addr[2]),
	.I2(\rf_wdata[0] [3]),
	.I3(\rf_wdata[4] [3]),
	.F(dout_2_1_0_0[3])
);
defparam \dout_2_1_0_0_cZ[3] .INIT=16'hFC30;
  LUT4 \dout_2_1_0_1_cZ[3]  (
	.I0(ir_addr[1]),
	.I1(ir_addr[2]),
	.I2(\rf_wdata[0] [3]),
	.I3(\rf_wdata[4] [3]),
	.F(dout_2_1_0_1[3])
);
defparam \dout_2_1_0_1_cZ[3] .INIT=16'hF2D0;
  LUT4 \dout_2_1_1_0_cZ[4]  (
	.I0(ir_addr[1]),
	.I1(ir_addr[2]),
	.I2(\rf_wdata[0] [4]),
	.I3(\rf_wdata[4] [4]),
	.F(dout_2_1_1_0[4])
);
defparam \dout_2_1_1_0_cZ[4] .INIT=16'hF0F0;
  LUT4 \dout_2_1_1_1_cZ[4]  (
	.I0(ir_addr[1]),
	.I1(ir_addr[2]),
	.I2(\rf_wdata[0] [4]),
	.I3(\rf_wdata[4] [4]),
	.F(dout_2_1_1_1[4])
);
defparam \dout_2_1_1_1_cZ[4] .INIT=16'hF0F0;
  LUT4 \dout_2_1_0_0_cZ[4]  (
	.I0(ir_addr[1]),
	.I1(ir_addr[2]),
	.I2(\rf_wdata[0] [4]),
	.I3(\rf_wdata[4] [4]),
	.F(dout_2_1_0_0[4])
);
defparam \dout_2_1_0_0_cZ[4] .INIT=16'hFC30;
  LUT4 \dout_2_1_0_1_cZ[4]  (
	.I0(ir_addr[1]),
	.I1(ir_addr[2]),
	.I2(\rf_wdata[0] [4]),
	.I3(\rf_wdata[4] [4]),
	.F(dout_2_1_0_1[4])
);
defparam \dout_2_1_0_1_cZ[4] .INIT=16'hF2D0;
  LUT4 \dout_2_1_1_0_cZ[6]  (
	.I0(ir_addr[1]),
	.I1(ir_addr[2]),
	.I2(\rf_wdata[0] [6]),
	.I3(\rf_wdata[4] [6]),
	.F(dout_2_1_1_0[6])
);
defparam \dout_2_1_1_0_cZ[6] .INIT=16'hF0F0;
  LUT4 \dout_2_1_1_1_cZ[6]  (
	.I0(ir_addr[1]),
	.I1(ir_addr[2]),
	.I2(\rf_wdata[0] [6]),
	.I3(\rf_wdata[4] [6]),
	.F(dout_2_1_1_1[6])
);
defparam \dout_2_1_1_1_cZ[6] .INIT=16'hF0F0;
  LUT4 \dout_2_1_0_0_cZ[6]  (
	.I0(ir_addr[1]),
	.I1(ir_addr[2]),
	.I2(\rf_wdata[0] [6]),
	.I3(\rf_wdata[4] [6]),
	.F(dout_2_1_0_0[6])
);
defparam \dout_2_1_0_0_cZ[6] .INIT=16'hFC30;
  LUT4 \dout_2_1_0_1_cZ[6]  (
	.I0(ir_addr[1]),
	.I1(ir_addr[2]),
	.I2(\rf_wdata[0] [6]),
	.I3(\rf_wdata[4] [6]),
	.F(dout_2_1_0_1[6])
);
defparam \dout_2_1_0_1_cZ[6] .INIT=16'hF2D0;
  LUT4 \dout_2_1_1_0_cZ[7]  (
	.I0(ir_addr[1]),
	.I1(ir_addr[2]),
	.I2(\rf_wdata[0] [7]),
	.I3(\rf_wdata[4] [7]),
	.F(dout_2_1_1_0[7])
);
defparam \dout_2_1_1_0_cZ[7] .INIT=16'hF0F0;
  LUT4 \dout_2_1_1_1_cZ[7]  (
	.I0(ir_addr[1]),
	.I1(ir_addr[2]),
	.I2(\rf_wdata[0] [7]),
	.I3(\rf_wdata[4] [7]),
	.F(dout_2_1_1_1[7])
);
defparam \dout_2_1_1_1_cZ[7] .INIT=16'hF0F0;
  LUT4 \dout_2_1_0_0_cZ[7]  (
	.I0(ir_addr[1]),
	.I1(ir_addr[2]),
	.I2(\rf_wdata[0] [7]),
	.I3(\rf_wdata[4] [7]),
	.F(dout_2_1_0_0[7])
);
defparam \dout_2_1_0_0_cZ[7] .INIT=16'hFC30;
  LUT4 \dout_2_1_0_1_cZ[7]  (
	.I0(ir_addr[1]),
	.I1(ir_addr[2]),
	.I2(\rf_wdata[0] [7]),
	.I3(\rf_wdata[4] [7]),
	.F(dout_2_1_0_1[7])
);
defparam \dout_2_1_0_1_cZ[7] .INIT=16'hF2D0;
  LUT4 \un1_rf_wdata[0]_axb_0_lofx_1_0_cZ  (
	.I0(dout_2[0]),
	.I1(dout_2[1]),
	.I2(ir_addr[1]),
	.I3(\un1_rf_wdata[0]_0_sqmuxa_2_i_0_a2_5 ),
	.F(\un1_rf_wdata[0]_axb_0_lofx_1_0 )
);
defparam \un1_rf_wdata[0]_axb_0_lofx_1_0_cZ .INIT=16'h1F0F;
  LUT4 \un1_rf_wdata[0]_axb_0_lofx_1_1_cZ  (
	.I0(dout_2[0]),
	.I1(dout_2[1]),
	.I2(ir_addr[1]),
	.I3(\un1_rf_wdata[0]_0_sqmuxa_2_i_0_a2_5 ),
	.F(\un1_rf_wdata[0]_axb_0_lofx_1_1 )
);
defparam \un1_rf_wdata[0]_axb_0_lofx_1_1_cZ .INIT=16'hFFFF;
  LUT4 \un1_rf_wdata[0]_axb_0_lofx_0_0_cZ  (
	.I0(dout_2[0]),
	.I1(dout_2[1]),
	.I2(ir_addr[1]),
	.I3(\un1_rf_wdata[0]_0_sqmuxa_2_i_0_a2_5 ),
	.F(\un1_rf_wdata[0]_axb_0_lofx_0_0 )
);
defparam \un1_rf_wdata[0]_axb_0_lofx_0_0_cZ .INIT=16'h0F0F;
  LUT4 \un1_rf_wdata[0]_axb_0_lofx_0_1_cZ  (
	.I0(dout_2[0]),
	.I1(dout_2[1]),
	.I2(ir_addr[1]),
	.I3(\un1_rf_wdata[0]_0_sqmuxa_2_i_0_a2_5 ),
	.F(\un1_rf_wdata[0]_axb_0_lofx_0_1 )
);
defparam \un1_rf_wdata[0]_axb_0_lofx_0_1_cZ .INIT=16'hFFFF;
  LUT4 \un1_rf_wdata[0]_0_sqmuxa_2_i_0_o2_0_cZ  (
	.I0(ir_addr[5]),
	.I1(ir_addr[7]),
	.I2(ir_addr_fast[3]),
	.I3(ir_addr_fast[6]),
	.F(\un1_rf_wdata[0]_0_sqmuxa_2_i_0_o2_0 )
);
defparam \un1_rf_wdata[0]_0_sqmuxa_2_i_0_o2_0_cZ .INIT=16'hFFFE;
  LUT4 \un1_rf_wdata[0]_0_sqmuxa_2_i_0_o2_1_cZ  (
	.I0(ir_addr[5]),
	.I1(ir_addr[7]),
	.I2(ir_addr_fast[3]),
	.I3(ir_addr_fast[6]),
	.F(\un1_rf_wdata[0]_0_sqmuxa_2_i_0_o2_1 )
);
defparam \un1_rf_wdata[0]_0_sqmuxa_2_i_0_o2_1_cZ .INIT=16'hFFFF;
// @6:78
  MUX2_LUT5 \un1_rf_wdata[0]_0_sqmuxa_2_i_0_o2  (
	.I0(\un1_rf_wdata[0]_0_sqmuxa_2_i_0_o2_0 ),
	.I1(\un1_rf_wdata[0]_0_sqmuxa_2_i_0_o2_1 ),
	.S0(ir_addr[4]),
	.O(N_124)
);
  MUX2_LUT5 \un1_rf_wdata[0]_axb_0_lofx_0_cZ  (
	.I0(\un1_rf_wdata[0]_axb_0_lofx_0_0 ),
	.I1(\un1_rf_wdata[0]_axb_0_lofx_0_1 ),
	.S0(N_119_1),
	.O(\un1_rf_wdata[0]_axb_0_lofx_0 )
);
  MUX2_LUT5 \un1_rf_wdata[0]_axb_0_lofx_1_cZ  (
	.I0(\un1_rf_wdata[0]_axb_0_lofx_1_0 ),
	.I1(\un1_rf_wdata[0]_axb_0_lofx_1_1 ),
	.S0(N_119_1),
	.O(\un1_rf_wdata[0]_axb_0_lofx_1 )
);
  MUX2_LUT5 \dout_2_1_0_cZ[7]  (
	.I0(dout_2_1_0_0[7]),
	.I1(dout_2_1_0_1[7]),
	.S0(ir_addr[0]),
	.O(dout_2_1_0[7])
);
  MUX2_LUT5 \dout_2_1_1_cZ[7]  (
	.I0(dout_2_1_1_0[7]),
	.I1(dout_2_1_1_1[7]),
	.S0(ir_addr[0]),
	.O(dout_2_1_1[7])
);
  MUX2_LUT5 \dout_2_1_0_cZ[6]  (
	.I0(dout_2_1_0_0[6]),
	.I1(dout_2_1_0_1[6]),
	.S0(ir_addr[0]),
	.O(dout_2_1_0[6])
);
  MUX2_LUT5 \dout_2_1_1_cZ[6]  (
	.I0(dout_2_1_1_0[6]),
	.I1(dout_2_1_1_1[6]),
	.S0(ir_addr[0]),
	.O(dout_2_1_1[6])
);
  MUX2_LUT5 \dout_2_1_0_cZ[4]  (
	.I0(dout_2_1_0_0[4]),
	.I1(dout_2_1_0_1[4]),
	.S0(ir_addr[0]),
	.O(dout_2_1_0[4])
);
  MUX2_LUT5 \dout_2_1_1_cZ[4]  (
	.I0(dout_2_1_1_0[4]),
	.I1(dout_2_1_1_1[4]),
	.S0(ir_addr[0]),
	.O(dout_2_1_1[4])
);
  MUX2_LUT5 \dout_2_1_0_cZ[3]  (
	.I0(dout_2_1_0_0[3]),
	.I1(dout_2_1_0_1[3]),
	.S0(ir_addr[0]),
	.O(dout_2_1_0[3])
);
  MUX2_LUT5 \dout_2_1_1_cZ[3]  (
	.I0(dout_2_1_1_0[3]),
	.I1(dout_2_1_1_1[3]),
	.S0(ir_addr[0]),
	.O(dout_2_1_1[3])
);
  MUX2_LUT5 \dout_2_1_0_cZ[2]  (
	.I0(dout_2_1_0_0[2]),
	.I1(dout_2_1_0_1[2]),
	.S0(ir_addr[0]),
	.O(dout_2_1_0[2])
);
  MUX2_LUT5 \dout_2_1_1_cZ[2]  (
	.I0(dout_2_1_1_0[2]),
	.I1(dout_2_1_1_1[2]),
	.S0(ir_addr[0]),
	.O(dout_2_1_1[2])
);
// @6:86
  MUX2_LUT6 \dout_2_1[2]  (
	.I0(dout_2_1_0[2]),
	.I1(dout_2_1_1[2]),
	.S0(N_124),
	.O(N_448)
);
// @6:86
  MUX2_LUT6 \dout_2_1[3]  (
	.I0(dout_2_1_0[3]),
	.I1(dout_2_1_1[3]),
	.S0(N_124),
	.O(N_449)
);
// @6:86
  MUX2_LUT6 \dout_2_1[4]  (
	.I0(dout_2_1_0[4]),
	.I1(dout_2_1_1[4]),
	.S0(N_124),
	.O(N_450)
);
// @6:86
  MUX2_LUT6 \dout_2_1[6]  (
	.I0(dout_2_1_0[6]),
	.I1(dout_2_1_1[6]),
	.S0(N_124),
	.O(N_452)
);
// @6:86
  MUX2_LUT6 \dout_2_1[7]  (
	.I0(dout_2_1_0[7]),
	.I1(dout_2_1_1[7]),
	.S0(N_124),
	.O(N_453)
);
  MUX2_LUT6 \un1_rf_wdata[0]_axb_0_lofx_cZ  (
	.I0(\un1_rf_wdata[0]_axb_0_lofx_0 ),
	.I1(\un1_rf_wdata[0]_axb_0_lofx_1 ),
	.S0(\un1_rf_wdata[0]_0_sqmuxa_2_i_0_a2_4 ),
	.O(\un1_rf_wdata[0]_axb_0_lofx )
);
// @6:67
  DFFR \rf_wdata[0]_Z[7]  (
	.Q(\rf_wdata[0] [7]),
	.D(\un1_rf_wdata[0]_s_7_0_SUM ),
	.CLK(clk_c),
	.RESET(un1_m2_e_iso)
);
// @6:67
  DFFR \rf_wdata[0]_Z[6]  (
	.Q(\rf_wdata[0] [6]),
	.D(\un1_rf_wdata[0]_cry_6_0_SUM ),
	.CLK(clk_c),
	.RESET(un1_m2_e_iso)
);
// @6:67
  DFFR \rf_wdata[0]_Z[5]  (
	.Q(\rf_wdata[0] [5]),
	.D(\un1_rf_wdata[0]_cry_5_0_SUM ),
	.CLK(clk_c),
	.RESET(un1_m2_e_iso)
);
// @6:67
  DFFR \rf_wdata[0]_Z[4]  (
	.Q(\rf_wdata[0] [4]),
	.D(\un1_rf_wdata[0]_cry_4_0_SUM ),
	.CLK(clk_c),
	.RESET(un1_m2_e_iso)
);
// @6:67
  DFFR \rf_wdata[0]_Z[3]  (
	.Q(\rf_wdata[0] [3]),
	.D(\un1_rf_wdata[0]_cry_3_0_SUM ),
	.CLK(clk_c),
	.RESET(un1_m2_e_iso)
);
// @6:67
  DFFS \rf_wdata[0]_Z[2]  (
	.Q(\rf_wdata[0] [2]),
	.D(\un1_rf_wdata[0]_cry_2_0_SUM ),
	.CLK(clk_c),
	.SET(un1_m2_e_iso)
);
// @6:67
  DFFR \rf_wdata[0]_Z[1]  (
	.Q(\rf_wdata[0] [1]),
	.D(\un1_rf_wdata[0]_cry_1_0_SUM ),
	.CLK(clk_c),
	.RESET(un1_m2_e_iso)
);
// @6:67
  DFFR \rf_wdata[0]_Z[0]  (
	.Q(\rf_wdata[0] [0]),
	.D(\un1_rf_wdata[0]_cry_0_0_SUM ),
	.CLK(clk_c),
	.RESET(un1_m2_e_iso)
);
// @6:67
  DFF \ir_addr_fast_Z[6]  (
	.Q(ir_addr_fast[6]),
	.D(\rf_wdata[0] [6]),
	.CLK(clk_c)
);
// @6:67
  DFF \ir_addr_fast_Z[2]  (
	.Q(ir_addr_fast[2]),
	.D(\rf_wdata[0] [2]),
	.CLK(clk_c)
);
// @6:67
  DFF ir_addr_0_rep1_Z (
	.Q(ir_addr_0_rep1),
	.D(\rf_wdata[0] [0]),
	.CLK(clk_c)
);
// @6:67
  DFF \ir_addr_fast_Z[0]  (
	.Q(ir_addr_fast[0]),
	.D(\rf_wdata[0] [0]),
	.CLK(clk_c)
);
// @6:67
  DFF \ir_addr_fast_Z[1]  (
	.Q(ir_addr_fast[1]),
	.D(\rf_wdata[0] [1]),
	.CLK(clk_c)
);
// @6:67
  DFF \ir_addr_fast_Z[3]  (
	.Q(ir_addr_fast[3]),
	.D(\rf_wdata[0] [3]),
	.CLK(clk_c)
);
// @6:67
  DFFE \rf_wdata[3]_Z[1]  (
	.Q(\rf_wdata[3] [1]),
	.D(\rf_wdata[1]_26_1_rep3 ),
	.CLK(clk_c),
	.CE(un1_rf_wdata_12_0_a2_1_a2)
);
// @6:67
  DFFE \rf_wdata[3]_Z[0]  (
	.Q(\rf_wdata[3] [0]),
	.D(\rf_wdata[1]_26_0_rep3 ),
	.CLK(clk_c),
	.CE(un1_rf_wdata_12_0_a2_1_a2)
);
// @6:67
  DFFE \rf_wdata[4]_Z[7]  (
	.Q(\rf_wdata[4] [7]),
	.D(\rf_wdata[10]_26_11 [7]),
	.CLK(clk_c),
	.CE(N_160_i)
);
// @6:67
  DFFE \rf_wdata[4]_Z[6]  (
	.Q(\rf_wdata[4] [6]),
	.D(\rf_wdata[10]_26_11 [6]),
	.CLK(clk_c),
	.CE(N_160_i)
);
// @6:67
  DFFE \rf_wdata[4]_Z[5]  (
	.Q(\rf_wdata[4] [5]),
	.D(\rf_wdata[1]_26 [5]),
	.CLK(clk_c),
	.CE(N_160_i)
);
// @6:67
  DFFE \rf_wdata[4]_Z[4]  (
	.Q(\rf_wdata[4] [4]),
	.D(\rf_wdata[10]_26_11 [4]),
	.CLK(clk_c),
	.CE(N_160_i)
);
// @6:67
  DFFE \rf_wdata[4]_Z[3]  (
	.Q(\rf_wdata[4] [3]),
	.D(\rf_wdata[10]_26_11 [3]),
	.CLK(clk_c),
	.CE(N_160_i)
);
// @6:67
  DFFE \rf_wdata[4]_Z[2]  (
	.Q(\rf_wdata[4] [2]),
	.D(\rf_wdata[10]_26_11 [2]),
	.CLK(clk_c),
	.CE(N_160_i)
);
// @6:67
  DFFE \rf_wdata[4]_Z[1]  (
	.Q(\rf_wdata[4] [1]),
	.D(g0),
	.CLK(clk_c),
	.CE(N_160_i)
);
// @6:67
  DFFE \rf_wdata[4]_Z[0]  (
	.Q(\rf_wdata[4] [0]),
	.D(\rf_wdata[10]_26_11 [0]),
	.CLK(clk_c),
	.CE(N_160_i)
);
// @6:67
  DFFE \rf_wdata[1]_Z[0]  (
	.Q(\rf_wdata[1] [0]),
	.D(\rf_wdata[1]_26_0_rep1 ),
	.CLK(clk_c),
	.CE(N_130_i)
);
// @6:67
  DFFE \rf_wdata[2]_Z[7]  (
	.Q(\rf_wdata[2] [7]),
	.D(\rf_wdata[1]_26_7_rep2 ),
	.CLK(clk_c),
	.CE(N_157_i)
);
// @6:67
  DFFE \rf_wdata[2][6]  (
	.Q(\rf_wdata[2]_0 ),
	.D(\rf_wdata[1]_26_6_rep2 ),
	.CLK(clk_c),
	.CE(N_157_i)
);
// @6:67
  DFFE \rf_wdata[2]_Z[5]  (
	.Q(\rf_wdata[2] [5]),
	.D(\rf_wdata[1]_26_5_rep1 ),
	.CLK(clk_c),
	.CE(N_157_i)
);
// @6:67
  DFFE \rf_wdata[2]_Z[4]  (
	.Q(\rf_wdata[2] [4]),
	.D(\rf_wdata[1]_26_4_rep2 ),
	.CLK(clk_c),
	.CE(N_157_i)
);
// @6:67
  DFFE \rf_wdata[2]_Z[3]  (
	.Q(\rf_wdata[2] [3]),
	.D(\rf_wdata[1]_26_3_rep2 ),
	.CLK(clk_c),
	.CE(N_157_i)
);
// @6:67
  DFFE \rf_wdata[2]_Z[2]  (
	.Q(\rf_wdata[2] [2]),
	.D(\rf_wdata[10]_26_11 [2]),
	.CLK(clk_c),
	.CE(N_157_i)
);
// @6:67
  DFFE \rf_wdata[2]_Z[1]  (
	.Q(\rf_wdata[2] [1]),
	.D(\rf_wdata[1]_26_1_rep2 ),
	.CLK(clk_c),
	.CE(N_157_i)
);
// @6:67
  DFFE \rf_wdata[2]_Z[0]  (
	.Q(\rf_wdata[2] [0]),
	.D(\rf_wdata[1]_26_0_rep2 ),
	.CLK(clk_c),
	.CE(N_157_i)
);
// @6:67
  DFFE \rf_wdata[3]_Z[7]  (
	.Q(\rf_wdata[3] [7]),
	.D(\rf_wdata[1]_26_7_rep3 ),
	.CLK(clk_c),
	.CE(un1_rf_wdata_12_0_a2_1_a2)
);
// @6:67
  DFFE \rf_wdata[3][6]  (
	.Q(\rf_wdata[3]_0 ),
	.D(\rf_wdata[1]_26_6_rep3 ),
	.CLK(clk_c),
	.CE(un1_rf_wdata_12_0_a2_1_a2)
);
// @6:67
  DFFE \rf_wdata[3]_Z[4]  (
	.Q(\rf_wdata[3] [4]),
	.D(\rf_wdata[1]_26_4_rep3 ),
	.CLK(clk_c),
	.CE(un1_rf_wdata_12_0_a2_1_a2)
);
// @6:67
  DFFE \rf_wdata[3]_Z[3]  (
	.Q(\rf_wdata[3] [3]),
	.D(\rf_wdata[1]_26_3_rep3 ),
	.CLK(clk_c),
	.CE(un1_rf_wdata_12_0_a2_1_a2)
);
// @6:67
  DFFE \rf_wdata[3]_Z[2]  (
	.Q(\rf_wdata[3] [2]),
	.D(\rf_wdata[10]_26_11 [2]),
	.CLK(clk_c),
	.CE(un1_rf_wdata_12_0_a2_1_a2)
);
// @6:67
  DFFE \rf_wdata[1]_Z[7]  (
	.Q(\rf_wdata[1] [7]),
	.D(\rf_wdata[1]_26_7_rep1 ),
	.CLK(clk_c),
	.CE(N_130_i)
);
// @6:67
  DFFE \rf_wdata[1]_Z[6]  (
	.Q(\rf_wdata[1] [6]),
	.D(\rf_wdata[1]_26_6_rep1 ),
	.CLK(clk_c),
	.CE(N_130_i)
);
// @6:67
  DFFE \rf_wdata[1]_Z[4]  (
	.Q(\rf_wdata[1] [4]),
	.D(\rf_wdata[1]_26_4_rep1 ),
	.CLK(clk_c),
	.CE(N_130_i)
);
// @6:67
  DFFE \rf_wdata[1]_Z[3]  (
	.Q(\rf_wdata[1] [3]),
	.D(\rf_wdata[1]_26_3_rep1 ),
	.CLK(clk_c),
	.CE(N_130_i)
);
// @6:67
  DFFE \rf_wdata[1]_Z[2]  (
	.Q(\rf_wdata[1] [2]),
	.D(\rf_wdata[10]_26_11 [2]),
	.CLK(clk_c),
	.CE(N_130_i)
);
// @6:67
  DFFE \rf_wdata[1]_Z[1]  (
	.Q(\rf_wdata[1] [1]),
	.D(\rf_wdata[1]_26_1_rep1 ),
	.CLK(clk_c),
	.CE(N_130_i)
);
// @6:67
  DFF \address[6]  (
	.Q(cpu_addr[6]),
	.D(un2_address_cry_6_0_SUM),
	.CLK(clk_c)
);
// @6:67
  DFF \address[5]  (
	.Q(cpu_addr[5]),
	.D(un2_address_cry_5_0_SUM),
	.CLK(clk_c)
);
// @6:67
  DFF \address[4]  (
	.Q(cpu_addr[4]),
	.D(un2_address_cry_4_0_SUM),
	.CLK(clk_c)
);
// @6:67
  DFF \address[3]  (
	.Q(cpu_addr[3]),
	.D(un2_address_cry_3_0_SUM),
	.CLK(clk_c)
);
// @6:67
  DFF \address[2]  (
	.Q(cpu_addr[2]),
	.D(un2_address_cry_2_0_SUM),
	.CLK(clk_c)
);
// @6:67
  DFF \address[1]  (
	.Q(cpu_addr[1]),
	.D(un2_address_cry_1_0_0_SUM),
	.CLK(clk_c)
);
// @6:67
  DFF \address[0]  (
	.Q(cpu_addr[0]),
	.D(un2_address_cry_0_0_SUM),
	.CLK(clk_c)
);
// @6:67
  DFF \ir_addr_Z[5]  (
	.Q(ir_addr[5]),
	.D(\rf_wdata[0] [5]),
	.CLK(clk_c)
);
// @6:67
  DFF \ir_addr_Z[4]  (
	.Q(ir_addr[4]),
	.D(\rf_wdata[0] [4]),
	.CLK(clk_c)
);
// @6:67
  DFF \ir_addr_Z[3]  (
	.Q(ir_addr[3]),
	.D(\rf_wdata[0] [3]),
	.CLK(clk_c)
);
// @6:67
  DFF \ir_addr_Z[2]  (
	.Q(ir_addr[2]),
	.D(\rf_wdata[0] [2]),
	.CLK(clk_c)
);
// @6:67
  DFF \ir_addr_Z[1]  (
	.Q(ir_addr[1]),
	.D(\rf_wdata[0] [1]),
	.CLK(clk_c)
);
// @6:67
  DFF \ir_addr_Z[0]  (
	.Q(ir_addr[0]),
	.D(\rf_wdata[0] [0]),
	.CLK(clk_c)
);
// @6:67
  DFF \address[7]  (
	.Q(cpu_addr[7]),
	.D(un2_address_s_7_0_SUM),
	.CLK(clk_c)
);
// @6:67
  DFF \dout[2]  (
	.Q(cpu_dout[2]),
	.D(dout_2[2]),
	.CLK(clk_c)
);
// @6:67
  DFF \dout[1]  (
	.Q(cpu_dout[1]),
	.D(dout_2[1]),
	.CLK(clk_c)
);
// @6:67
  DFF \dout[0]  (
	.Q(cpu_dout[0]),
	.D(dout_2[0]),
	.CLK(clk_c)
);
// @6:67
  DFF \ir_addr_Z[7]  (
	.Q(ir_addr[7]),
	.D(\rf_wdata[0] [7]),
	.CLK(clk_c)
);
// @6:67
  DFF \ir_addr_Z[6]  (
	.Q(ir_addr[6]),
	.D(\rf_wdata[0] [6]),
	.CLK(clk_c)
);
// @6:67
  DFFR write (
	.Q(cpu_write),
	.D(read8_0),
	.CLK(clk_c),
	.RESET(ir_addr[2])
);
// @6:92
  ALU \rf_wdata[15]_6_cry_7_0  (
	.CIN(\rf_wdata[15]_6_cry_6 ),
	.I0(\rf_wdata[15]_6_axb_7_i_lofx ),
	.I1(\rf_wdata[15]_6_6 ),
	.I3(GND),
	.COUT(\rf_wdata[15]_6_Z [0]),
	.SUM(\rf_wdata[15]_6_cry_7_0_SUM )
);
defparam \rf_wdata[15]_6_cry_7_0 .ALU_MODE=0;
// @6:92
  ALU \rf_wdata[15]_6_cry_6_0  (
	.CIN(\rf_wdata[15]_6_cry_5 ),
	.I0(\rf_wdata[15]_6_axb_6_i_lofx ),
	.I1(\rf_wdata[15]_6_5 ),
	.I3(GND),
	.COUT(\rf_wdata[15]_6_cry_6 ),
	.SUM(\rf_wdata[15]_6_cry_6_0_SUM )
);
defparam \rf_wdata[15]_6_cry_6_0 .ALU_MODE=0;
// @6:92
  ALU \rf_wdata[15]_6_cry_5_0  (
	.CIN(\rf_wdata[15]_6_cry_4 ),
	.I0(\rf_wdata[15]_6_axb_5_i_lofx ),
	.I1(\rf_wdata[15]_6_4 ),
	.I3(GND),
	.COUT(\rf_wdata[15]_6_cry_5 ),
	.SUM(\rf_wdata[15]_6_cry_5_0_SUM )
);
defparam \rf_wdata[15]_6_cry_5_0 .ALU_MODE=0;
// @6:92
  ALU \rf_wdata[15]_6_cry_4_0  (
	.CIN(\rf_wdata[15]_6_cry_3 ),
	.I0(\rf_wdata[15]_6_axb_4_i_lofx ),
	.I1(\rf_wdata[15]_6_3 ),
	.I3(GND),
	.COUT(\rf_wdata[15]_6_cry_4 ),
	.SUM(\rf_wdata[15]_6_cry_4_0_SUM )
);
defparam \rf_wdata[15]_6_cry_4_0 .ALU_MODE=0;
// @6:92
  ALU \rf_wdata[15]_6_cry_3_0  (
	.CIN(\rf_wdata[15]_6_cry_2 ),
	.I0(\rf_wdata[15]_6_axb_3_i_lofx ),
	.I1(\rf_wdata[15]_6_2 ),
	.I3(GND),
	.COUT(\rf_wdata[15]_6_cry_3 ),
	.SUM(\rf_wdata[15]_6_cry_3_0_SUM )
);
defparam \rf_wdata[15]_6_cry_3_0 .ALU_MODE=0;
// @6:92
  ALU \rf_wdata[15]_6_cry_2_0  (
	.CIN(\rf_wdata[15]_6_cry_1 ),
	.I0(\rf_wdata[15]_6_axb_2_i_lofx ),
	.I1(\rf_wdata[15]_6_1 ),
	.I3(GND),
	.COUT(\rf_wdata[15]_6_cry_2 ),
	.SUM(\rf_wdata[15]_6_cry_2_0_SUM )
);
defparam \rf_wdata[15]_6_cry_2_0 .ALU_MODE=0;
// @6:92
  ALU \rf_wdata[15]_6_cry_1_0  (
	.CIN(\rf_wdata[15]_6_cry_0 ),
	.I0(\rf_wdata[15]_6_axb_1_i_lofx ),
	.I1(\rf_wdata[15]_6_0 ),
	.I3(GND),
	.COUT(\rf_wdata[15]_6_cry_1 ),
	.SUM(\rf_wdata[15]_6_cry_1_0_SUM )
);
defparam \rf_wdata[15]_6_cry_1_0 .ALU_MODE=0;
// @6:92
  ALU \rf_wdata[15]_6_cry_0_0  (
	.CIN(GND),
	.I0(\rf_wdata[15]_6_axb_0_i_lofx ),
	.I1(\rf_wdata[15]_6 ),
	.I3(GND),
	.COUT(\rf_wdata[15]_6_cry_0 ),
	.SUM(\rf_wdata[15]_6_cry_0_0_SUM )
);
defparam \rf_wdata[15]_6_cry_0_0 .ALU_MODE=0;
// @6:82
  ALU un2_address_s_7_0 (
	.CIN(un2_address_cry_6),
	.I0(N_12),
	.I1(VCC),
	.I3(GND),
	.COUT(un2_address_s_7_0_COUT),
	.SUM(un2_address_s_7_0_SUM)
);
defparam un2_address_s_7_0.ALU_MODE=0;
// @6:82
  ALU un2_address_cry_6_0 (
	.CIN(un2_address_cry_5),
	.I0(un2_address_axb_6),
	.I1(GND),
	.I3(GND),
	.COUT(un2_address_cry_6),
	.SUM(un2_address_cry_6_0_SUM)
);
defparam un2_address_cry_6_0.ALU_MODE=0;
// @6:82
  ALU un2_address_cry_5_0 (
	.CIN(un2_address_cry_4),
	.I0(un2_address_axb_5_lofx),
	.I1(GND),
	.I3(GND),
	.COUT(un2_address_cry_5),
	.SUM(un2_address_cry_5_0_SUM)
);
defparam un2_address_cry_5_0.ALU_MODE=0;
// @6:82
  ALU un2_address_cry_4_0 (
	.CIN(un2_address_cry_3),
	.I0(un2_address_axb_4),
	.I1(GND),
	.I3(GND),
	.COUT(un2_address_cry_4),
	.SUM(un2_address_cry_4_0_SUM)
);
defparam un2_address_cry_4_0.ALU_MODE=0;
// @6:82
  ALU un2_address_cry_3_0 (
	.CIN(un2_address_cry_2),
	.I0(GND),
	.I1(N_37),
	.I3(GND),
	.COUT(un2_address_cry_3),
	.SUM(un2_address_cry_3_0_SUM)
);
defparam un2_address_cry_3_0.ALU_MODE=1;
// @6:82
  ALU un2_address_cry_2_0 (
	.CIN(un2_address_cry_1),
	.I0(un2_address_axb_2_lofx),
	.I1(N_40_i),
	.I3(GND),
	.COUT(un2_address_cry_2),
	.SUM(un2_address_cry_2_0_SUM)
);
defparam un2_address_cry_2_0.ALU_MODE=0;
// @6:82
  ALU un2_address_cry_1_0_0 (
	.CIN(un2_address_cry_0),
	.I0(un2_address_axb_1_lofx),
	.I1(un2_address_cry_1_ns),
	.I3(GND),
	.COUT(un2_address_cry_1),
	.SUM(un2_address_cry_1_0_0_SUM)
);
defparam un2_address_cry_1_0_0.ALU_MODE=0;
// @6:82
  ALU un2_address_cry_0_0 (
	.CIN(GND),
	.I0(un2_address),
	.I1(N_48),
	.I3(GND),
	.COUT(un2_address_cry_0),
	.SUM(un2_address_cry_0_0_SUM)
);
defparam un2_address_cry_0_0.ALU_MODE=1;
// @6:102
  ALU un230_rf_wdata_s_7_0 (
	.CIN(un230_rf_wdata_cry_6),
	.I0(un230_rf_wdata_axb_7),
	.I1(GND),
	.I3(GND),
	.COUT(un230_rf_wdata_s_7_0_COUT),
	.SUM(un230_rf_wdata_s_7_0_SUM)
);
defparam un230_rf_wdata_s_7_0.ALU_MODE=0;
// @6:102
  ALU un230_rf_wdata_cry_6_0 (
	.CIN(un230_rf_wdata_cry_5),
	.I0(un230_rf_wdata_axb_6_lofx),
	.I1(N_28_i),
	.I3(GND),
	.COUT(un230_rf_wdata_cry_6),
	.SUM(un230_rf_wdata_cry_6_0_SUM)
);
defparam un230_rf_wdata_cry_6_0.ALU_MODE=0;
// @6:102
  ALU un230_rf_wdata_cry_5_0_0 (
	.CIN(un230_rf_wdata_cry_4_0_COUT),
	.I0(un230_rf_wdata_axb_5_lofx),
	.I1(un230_rf_wdata_cry_5_ns),
	.I3(GND),
	.COUT(un230_rf_wdata_cry_5),
	.SUM(un230_rf_wdata_cry_5_0_0_SUM)
);
defparam un230_rf_wdata_cry_5_0_0.ALU_MODE=0;
// @6:102
  ALU un230_rf_wdata_cry_4_0 (
	.CIN(un230_rf_wdata_cry_3),
	.I0(un230_rf_wdata_axb_4_lofx),
	.I1(N_34_i),
	.I3(GND),
	.COUT(un230_rf_wdata_cry_4_0_COUT),
	.SUM(un230_rf_wdata_cry_4_0_SUM)
);
defparam un230_rf_wdata_cry_4_0.ALU_MODE=0;
// @6:102
  ALU un230_rf_wdata_cry_3_0 (
	.CIN(un230_rf_wdata_cry_2),
	.I0(un230_rf_wdata_axb_3_lofx),
	.I1(N_37_i),
	.I3(GND),
	.COUT(un230_rf_wdata_cry_3),
	.SUM(un230_rf_wdata_cry_3_0_SUM)
);
defparam un230_rf_wdata_cry_3_0.ALU_MODE=0;
// @6:102
  ALU un230_rf_wdata_cry_2_0 (
	.CIN(un230_rf_wdata_cry_1),
	.I0(un230_rf_wdata_axb_2_lofx),
	.I1(N_40_i),
	.I3(GND),
	.COUT(un230_rf_wdata_cry_2),
	.SUM(un230_rf_wdata_cry_2_0_SUM)
);
defparam un230_rf_wdata_cry_2_0.ALU_MODE=0;
// @6:102
  ALU un230_rf_wdata_cry_1_0 (
	.CIN(un230_rf_wdata_cry_0),
	.I0(un230_rf_wdata_axb_1_lofx),
	.I1(N_43_i),
	.I3(GND),
	.COUT(un230_rf_wdata_cry_1),
	.SUM(un230_rf_wdata_cry_1_0_SUM)
);
defparam un230_rf_wdata_cry_1_0.ALU_MODE=0;
// @6:102
  ALU un230_rf_wdata_cry_0_0 (
	.CIN(GND),
	.I0(\rf_wdata[15]_6 ),
	.I1(un2_address),
	.I3(GND),
	.COUT(un230_rf_wdata_cry_0),
	.SUM(un230_rf_wdata_cry_0_0_SUM)
);
defparam un230_rf_wdata_cry_0_0.ALU_MODE=0;
// @6:104
  ALU un285_rf_wdata_s_7_0 (
	.CIN(un285_rf_wdata_cry_6),
	.I0(un285_rf_wdata_axb_7),
	.I1(GND),
	.I3(GND),
	.COUT(un285_rf_wdata_s_7_0_COUT),
	.SUM(un285_rf_wdata_s_7_0_SUM)
);
defparam un285_rf_wdata_s_7_0.ALU_MODE=0;
// @6:104
  ALU un285_rf_wdata_cry_6_0 (
	.CIN(un285_rf_wdata_cry_5),
	.I0(un285_rf_wdata_axb_6_lofx),
	.I1(N_28_i),
	.I3(GND),
	.COUT(un285_rf_wdata_cry_6),
	.SUM(un285_rf_wdata_cry_6_0_SUM)
);
defparam un285_rf_wdata_cry_6_0.ALU_MODE=0;
// @6:104
  ALU un285_rf_wdata_cry_5_0 (
	.CIN(un285_rf_wdata_cry_4),
	.I0(un285_rf_wdata_axb_5_lofx),
	.I1(N_31_i),
	.I3(GND),
	.COUT(un285_rf_wdata_cry_5),
	.SUM(un285_rf_wdata_cry_5_0_SUM)
);
defparam un285_rf_wdata_cry_5_0.ALU_MODE=0;
// @6:104
  ALU un285_rf_wdata_cry_4_0 (
	.CIN(un285_rf_wdata_cry_3),
	.I0(un285_rf_wdata_axb_4_lofx),
	.I1(N_34_i),
	.I3(GND),
	.COUT(un285_rf_wdata_cry_4),
	.SUM(un285_rf_wdata_cry_4_0_SUM)
);
defparam un285_rf_wdata_cry_4_0.ALU_MODE=0;
// @6:104
  ALU un285_rf_wdata_cry_3_0 (
	.CIN(un285_rf_wdata_cry_2),
	.I0(un285_rf_wdata_axb_3_lofx),
	.I1(N_37_i),
	.I3(GND),
	.COUT(un285_rf_wdata_cry_3),
	.SUM(un285_rf_wdata_cry_3_0_SUM)
);
defparam un285_rf_wdata_cry_3_0.ALU_MODE=0;
// @6:104
  ALU un285_rf_wdata_cry_2_0 (
	.CIN(un285_rf_wdata_cry_1),
	.I0(un285_rf_wdata_axb_2_lofx),
	.I1(N_40_i),
	.I3(GND),
	.COUT(un285_rf_wdata_cry_2),
	.SUM(un285_rf_wdata_cry_2_0_SUM)
);
defparam un285_rf_wdata_cry_2_0.ALU_MODE=0;
// @6:104
  ALU un285_rf_wdata_cry_1_0 (
	.CIN(un285_rf_wdata_cry_0),
	.I0(un285_rf_wdata_axb_1_lofx),
	.I1(N_43_i),
	.I3(GND),
	.COUT(un285_rf_wdata_cry_1),
	.SUM(un285_rf_wdata_cry_1_0_SUM)
);
defparam un285_rf_wdata_cry_1_0.ALU_MODE=0;
// @6:104
  ALU un285_rf_wdata_cry_0_0 (
	.CIN(VCC),
	.I0(un2_address),
	.I1(\rf_wdata[15]_6 ),
	.I3(GND),
	.COUT(un285_rf_wdata_cry_0),
	.SUM(un285_rf_wdata_cry_0_0_SUM)
);
defparam un285_rf_wdata_cry_0_0.ALU_MODE=1;
// @6:78
  ALU \un1_rf_wdata[0]_s_7_0  (
	.CIN(\un1_rf_wdata[0]_cry_6 ),
	.I0(\rf_wdata[0] [7]),
	.I1(GND),
	.I3(GND),
	.COUT(\un1_rf_wdata[0]_s_7_0_COUT ),
	.SUM(\un1_rf_wdata[0]_s_7_0_SUM )
);
defparam \un1_rf_wdata[0]_s_7_0 .ALU_MODE=0;
// @6:78
  ALU \un1_rf_wdata[0]_cry_6_0  (
	.CIN(\un1_rf_wdata[0]_cry_5 ),
	.I0(\rf_wdata[0] [6]),
	.I1(GND),
	.I3(GND),
	.COUT(\un1_rf_wdata[0]_cry_6 ),
	.SUM(\un1_rf_wdata[0]_cry_6_0_SUM )
);
defparam \un1_rf_wdata[0]_cry_6_0 .ALU_MODE=0;
// @6:78
  ALU \un1_rf_wdata[0]_cry_5_0  (
	.CIN(\un1_rf_wdata[0]_cry_4 ),
	.I0(\rf_wdata[0] [5]),
	.I1(GND),
	.I3(GND),
	.COUT(\un1_rf_wdata[0]_cry_5 ),
	.SUM(\un1_rf_wdata[0]_cry_5_0_SUM )
);
defparam \un1_rf_wdata[0]_cry_5_0 .ALU_MODE=0;
// @6:78
  ALU \un1_rf_wdata[0]_cry_4_0  (
	.CIN(\un1_rf_wdata[0]_cry_3 ),
	.I0(\rf_wdata[0] [4]),
	.I1(GND),
	.I3(GND),
	.COUT(\un1_rf_wdata[0]_cry_4 ),
	.SUM(\un1_rf_wdata[0]_cry_4_0_SUM )
);
defparam \un1_rf_wdata[0]_cry_4_0 .ALU_MODE=0;
// @6:78
  ALU \un1_rf_wdata[0]_cry_3_0  (
	.CIN(\un1_rf_wdata[0]_cry_2 ),
	.I0(\rf_wdata[0] [3]),
	.I1(GND),
	.I3(GND),
	.COUT(\un1_rf_wdata[0]_cry_3 ),
	.SUM(\un1_rf_wdata[0]_cry_3_0_SUM )
);
defparam \un1_rf_wdata[0]_cry_3_0 .ALU_MODE=0;
// @6:78
  ALU \un1_rf_wdata[0]_cry_2_0  (
	.CIN(\un1_rf_wdata[0]_cry_1 ),
	.I0(\rf_wdata[0] [2]),
	.I1(GND),
	.I3(GND),
	.COUT(\un1_rf_wdata[0]_cry_2 ),
	.SUM(\un1_rf_wdata[0]_cry_2_0_SUM )
);
defparam \un1_rf_wdata[0]_cry_2_0 .ALU_MODE=0;
// @6:78
  ALU \un1_rf_wdata[0]_cry_1_0  (
	.CIN(\un1_rf_wdata[0]_cry_0 ),
	.I0(\un1_rf_wdata[0]_axb_1_lofx ),
	.I1(\rf_wdata[0] [1]),
	.I3(GND),
	.COUT(\un1_rf_wdata[0]_cry_1 ),
	.SUM(\un1_rf_wdata[0]_cry_1_0_SUM )
);
defparam \un1_rf_wdata[0]_cry_1_0 .ALU_MODE=0;
// @6:78
  ALU \un1_rf_wdata[0]_cry_0_0  (
	.CIN(GND),
	.I0(\un1_rf_wdata[0]_axb_0_lofx ),
	.I1(\rf_wdata[0] [0]),
	.I3(GND),
	.COUT(\un1_rf_wdata[0]_cry_0 ),
	.SUM(\un1_rf_wdata[0]_cry_0_0_SUM )
);
defparam \un1_rf_wdata[0]_cry_0_0 .ALU_MODE=0;
// @6:53
  instRom iR (
	.arg2_0(arg2_0),
	.ir_addr(ir_addr[7:0]),
	.arg1({arg1[2], arg1_0}),
	.ir_addr_fast_6(ir_addr_fast[6]),
	.ir_addr_fast_1(ir_addr_fast[1]),
	.ir_addr_fast_0(ir_addr_fast[0]),
	.ir_addr_fast_2(ir_addr_fast[2]),
	.ir_addr_fast_3(ir_addr_fast[3]),
	.dest_0(dest[0]),
	.op_0(op[2]),
	.read8_0(read8_0),
	.m7_i_0_x(m7_i_0_x),
	.N_48(N_48),
	.m12_i_o2_x_0(m12_i_o2_x_0),
	.un1_address_13_0_a2_0_a2_x_1z(un1_address_13_0_a2_0_a2_x),
	.N_134(N_134),
	.un1_rf_wdata_1_i_0_o2_out(un1_rf_wdata_1_i_0_o2_out),
	.N_172_i_i_o2_x_1z(N_172_i_i_o2_x),
	.m12_i_o2_x(m12_i_o2_x),
	.un1_m2_e_iso_1z(un1_m2_e_iso),
	.ir_addr_0_rep1(ir_addr_0_rep1),
	.N_134_i_1z(N_134_i),
	.read8(read8),
	.N_9(N_9),
	.N_23(N_23),
	.N_367(N_367_0),
	.N_7(N_7_0),
	.N_124(N_124),
	.N_17(N_17),
	.N_318(N_318),
	.N_167(N_167)
);
  GND GND_cZ (
	.G(GND)
);
  VCC VCC_cZ (
	.V(VCC)
);
endmodule /* cpu */

module top (
  clk,
  buttonA,
  buttonB,
  led_R,
  led_G,
  led_B
)
;
input clk ;
input buttonA ;
input buttonB ;
output led_R ;
output led_G ;
output led_B ;
wire clk ;
wire buttonA ;
wire buttonB ;
wire led_R ;
wire led_G ;
wire led_B ;
wire [7:0] cpu_addr;
wire [2:0] cpu_din;
wire [1:1] \cpu_instance.arg1 ;
wire [2:2] \cpu_instance.arg2 ;
wire [6:6] \cpu_instance.rf_wdata[2] ;
wire [6:6] \cpu_instance.rf_wdata[3] ;
wire [2:0] cpu_dout_i;
wire cpu_write ;
wire GND ;
wire VCC ;
wire \cpu_instance.rf_wdata[15]_6  ;
wire \cpu_instance.rf_wdata[15]_6_0  ;
wire \cpu_instance.rf_wdata[15]_6_1  ;
wire \cpu_instance.rf_wdata[15]_6_2  ;
wire \cpu_instance.rf_wdata[15]_6_3  ;
wire \cpu_instance.rf_wdata[15]_6_4  ;
wire \cpu_instance.rf_wdata[15]_6_6  ;
wire un230_rf_wdata_cry_2_0_SUM ;
wire N_48 ;
wire led_B_0_sqmuxa ;
wire N_130 ;
wire clk_c ;
wire led_R_c ;
wire led_G_c ;
wire led_B_c ;
wire N_134 ;
wire N_23 ;
wire N_17 ;
wire \cpu_instance.N_375  ;
wire \cpu_instance.N_342  ;
wire \cpu_instance.N_366  ;
wire \cpu_instance.N_548  ;
wire m10_6_N_2L1_0_1_1 ;
wire \cpu_instance.N_368  ;
wire un285_rf_wdata_cry_2_0_SUM ;
wire G_26_i_m2 ;
wire led_R_c_i ;
wire led_G_c_i ;
wire led_B_c_i ;
wire led_B_0_sqmuxa_4 ;
wire led_B_0_sqmuxa_5 ;
wire N_6 ;
wire N_11 ;
wire G_26_i_m4_0 ;
wire m8_0_0_a4_0_0 ;
wire m10_6 ;
wire m10_7 ;
wire m10_6_N_2L1 ;
wire m10_6_1 ;
wire m10_7_1 ;
wire m10_6_N_2L1_0_1 ;
  GSR GSR_INST (
	.GSRI(VCC)
);
// @5:21
  INV led_R_c_i_cZ (
	.I(led_R_c),
	.O(led_R_c_i)
);
// @5:21
  INV led_G_c_i_cZ (
	.I(led_G_c),
	.O(led_G_c_i)
);
// @5:21
  INV led_B_c_i_cZ (
	.I(led_B_c),
	.O(led_B_c_i)
);
// @5:24
  LUT4 led_B_0_sqmuxa_cZ (
	.I0(cpu_addr[0]),
	.I1(cpu_addr[2]),
	.I2(led_B_0_sqmuxa_4),
	.I3(led_B_0_sqmuxa_5),
	.F(led_B_0_sqmuxa)
);
defparam led_B_0_sqmuxa_cZ.INIT=16'h1000;
// @5:24
  LUT3 led_B_0_sqmuxa_4_cZ (
	.I0(cpu_addr[1]),
	.I1(cpu_addr[4]),
	.I2(cpu_addr[6]),
	.F(led_B_0_sqmuxa_4)
);
defparam led_B_0_sqmuxa_4_cZ.INIT=8'h01;
// @5:24
  LUT4 led_B_0_sqmuxa_5_cZ (
	.I0(cpu_addr[3]),
	.I1(cpu_addr[5]),
	.I2(cpu_addr[7]),
	.I3(cpu_write),
	.F(led_B_0_sqmuxa_5)
);
defparam led_B_0_sqmuxa_5_cZ.INIT=16'h1000;
  LUT3 G_26_i_m2_cZ (
	.I0(N_6),
	.I1(N_17),
	.I2(G_26_i_m4_0),
	.F(G_26_i_m2)
);
defparam G_26_i_m2_cZ.INIT=8'hB8;
  LUT4 G_26_i_m4 (
	.I0(N_23),
	.I1(un230_rf_wdata_cry_2_0_SUM),
	.I2(m10_6),
	.I3(m10_7),
	.F(N_6)
);
defparam G_26_i_m4.INIT=16'hD888;
  LUT4 m8_0_0_a4_0 (
	.I0(N_48),
	.I1(\cpu_instance.rf_wdata[2] [6]),
	.I2(\cpu_instance.rf_wdata[3] [6]),
	.I3(m8_0_0_a4_0_0),
	.F(N_11)
);
defparam m8_0_0_a4_0.INIT=16'hD800;
  LUT3 G_26_i_m4_0_cZ (
	.I0(N_134),
	.I1(un285_rf_wdata_cry_2_0_SUM),
	.I2(cpu_din[2]),
	.F(G_26_i_m4_0)
);
defparam G_26_i_m4_0_cZ.INIT=8'hE4;
  LUT2 m8_0_0_a4_0_0_cZ (
	.I0(\cpu_instance.arg1 [1]),
	.I1(\cpu_instance.arg2 [2]),
	.F(m8_0_0_a4_0_0)
);
defparam m8_0_0_a4_0_0_cZ.INIT=4'h2;
  LUT4 m10_6_N_2L1_cZ (
	.I0(N_130),
	.I1(\cpu_instance.N_548 ),
	.I2(\cpu_instance.arg1 [1]),
	.I3(\cpu_instance.rf_wdata[15]_6_2 ),
	.F(m10_6_N_2L1)
);
defparam m10_6_N_2L1_cZ.INIT=16'h00A2;
  LUT4 m10_6_cZ (
	.I0(\cpu_instance.rf_wdata[15]_6_3 ),
	.I1(\cpu_instance.rf_wdata[15]_6_6 ),
	.I2(m10_6_1),
	.I3(m10_6_N_2L1),
	.F(m10_6)
);
defparam m10_6_cZ.INIT=16'h1000;
  LUT4 m10_7_1_cZ (
	.I0(\cpu_instance.N_342 ),
	.I1(\cpu_instance.N_366 ),
	.I2(\cpu_instance.arg1 [1]),
	.I3(\cpu_instance.rf_wdata[15]_6_0 ),
	.F(m10_7_1)
);
defparam m10_7_1_cZ.INIT=16'h3500;
  LUT4 m10_7_cZ (
	.I0(N_11),
	.I1(\cpu_instance.rf_wdata[15]_6_1 ),
	.I2(\cpu_instance.rf_wdata[15]_6_4 ),
	.I3(m10_7_1),
	.F(m10_7)
);
defparam m10_7_cZ.INIT=16'h0001;
  LUT3 m10_6_N_2L1_0_1_cZ (
	.I0(\cpu_instance.N_368 ),
	.I1(\cpu_instance.arg1 [1]),
	.I2(m10_6_N_2L1_0_1_1),
	.F(m10_6_N_2L1_0_1)
);
defparam m10_6_N_2L1_0_1_cZ.INIT=8'h47;
  LUT4 m10_6_N_2L1_0 (
	.I0(\cpu_instance.N_375 ),
	.I1(\cpu_instance.rf_wdata[15]_6 ),
	.I2(\cpu_instance.rf_wdata[15]_6_0 ),
	.I3(m10_6_N_2L1_0_1),
	.F(m10_6_1)
);
defparam m10_6_N_2L1_0.INIT=16'h383B;
// @5:21
  DFF \cpu_din_Z[2]  (
	.Q(cpu_din[2]),
	.D(led_R_c_i),
	.CLK(clk_c)
);
// @5:21
  DFF \cpu_din_Z[1]  (
	.Q(cpu_din[1]),
	.D(led_G_c_i),
	.CLK(clk_c)
);
// @5:21
  DFF \cpu_din_Z[0]  (
	.Q(cpu_din[0]),
	.D(led_B_c_i),
	.CLK(clk_c)
);
  DFFSE led_B_Z (
	.Q(led_B_c),
	.D(cpu_dout_i[0]),
	.CLK(clk_c),
	.SET(GND),
	.CE(led_B_0_sqmuxa)
);
defparam led_B_Z.INIT=1'b1;
  DFFSE led_G_Z (
	.Q(led_G_c),
	.D(cpu_dout_i[1]),
	.CLK(clk_c),
	.SET(GND),
	.CE(led_B_0_sqmuxa)
);
defparam led_G_Z.INIT=1'b1;
  DFFSE led_R_Z (
	.Q(led_R_c),
	.D(cpu_dout_i[2]),
	.CLK(clk_c),
	.SET(GND),
	.CE(led_B_0_sqmuxa)
);
defparam led_R_Z.INIT=1'b1;
// @5:2
  IBUF clk_ibuf (
	.O(clk_c),
	.I(clk)
);
// @5:5
  OBUF led_R_obuf (
	.O(led_R),
	.I(led_R_c)
);
// @5:5
  OBUF led_G_obuf (
	.O(led_G),
	.I(led_G_c)
);
// @5:5
  OBUF led_B_obuf (
	.O(led_B),
	.I(led_B_c)
);
// @5:11
  cpu cpu_instance (
	.cpu_addr(cpu_addr[7:0]),
	.cpu_din(cpu_din[1:0]),
	.\rf_wdata[2]_0 (\cpu_instance.rf_wdata[2] [6]),
	.\rf_wdata[3]_0 (\cpu_instance.rf_wdata[3] [6]),
	.arg2_0(\cpu_instance.arg2 [2]),
	.cpu_dout_i(cpu_dout_i[2:0]),
	.arg1_0(\cpu_instance.arg1 [1]),
	.un285_rf_wdata_cry_2_0_SUM(un285_rf_wdata_cry_2_0_SUM),
	.un230_rf_wdata_cry_2_0_SUM(un230_rf_wdata_cry_2_0_SUM),
	.cpu_write(cpu_write),
	.clk_c(clk_c),
	.N_48(N_48),
	.\rf_wdata[15]_6_4 (\cpu_instance.rf_wdata[15]_6_4 ),
	.N_548(\cpu_instance.N_548 ),
	.m10_6_N_2L1_0_1_1(m10_6_N_2L1_0_1_1),
	.N_368(\cpu_instance.N_368 ),
	.N_366(\cpu_instance.N_366 ),
	.N_342(\cpu_instance.N_342 ),
	.N_375(\cpu_instance.N_375 ),
	.\rf_wdata[15]_6_0 (\cpu_instance.rf_wdata[15]_6_0 ),
	.N_130(N_130),
	.N_134(N_134),
	.\rf_wdata[15]_6_1 (\cpu_instance.rf_wdata[15]_6_1 ),
	.N_23(N_23),
	.G_26_i_m2(G_26_i_m2),
	.N_17(N_17),
	.\rf_wdata[15]_6 (\cpu_instance.rf_wdata[15]_6 ),
	.\rf_wdata[15]_6_2 (\cpu_instance.rf_wdata[15]_6_2 ),
	.\rf_wdata[15]_6_3 (\cpu_instance.rf_wdata[15]_6_3 ),
	.\rf_wdata[15]_6_6 (\cpu_instance.rf_wdata[15]_6_6 )
);
  GND GND_cZ (
	.G(GND)
);
  VCC VCC_cZ (
	.V(VCC)
);
endmodule /* top */

