//
// Written by Synplify Pro 
// Product Version "P-2019.03G"
// Program "Synplify Pro", Mapper "mapgw, Build 1450R"
// Thu Mar 26 18:56:45 2020
//
// Source file index table:
// Object locations will have the form <file>:<line>
// file 0 "\/home/rochor/APPLICATIONS/Gowin_V1.9.2.02Beta/SynplifyPro/lib/generic/gw1n.v "
// file 1 "\/home/rochor/APPLICATIONS/Gowin_V1.9.2.02Beta/SynplifyPro/lib/vlog/hypermods.v "
// file 2 "\/home/rochor/APPLICATIONS/Gowin_V1.9.2.02Beta/SynplifyPro/lib/vlog/umr_capim.v "
// file 3 "\/home/rochor/APPLICATIONS/Gowin_V1.9.2.02Beta/SynplifyPro/lib/vlog/scemi_objects.v "
// file 4 "\/home/rochor/APPLICATIONS/Gowin_V1.9.2.02Beta/SynplifyPro/lib/vlog/scemi_pipes.svh "
// file 5 "\/home/rochor/APPLICATIONS/Gowin_V1.9.2.02Beta/FPGA_Projects/Test_CPU/src/top.v "
// file 6 "\/home/rochor/APPLICATIONS/Gowin_V1.9.2.02Beta/FPGA_Projects/Test_CPU/src/cpu.v "
// file 7 "\/home/rochor/APPLICATIONS/Gowin_V1.9.2.02Beta/FPGA_Projects/Test_CPU/src/instRom.v "
// file 8 "\/home/rochor/APPLICATIONS/Gowin_V1.9.2.02Beta/SynplifyPro/lib/nlconst.dat "

`timescale 100 ps/100 ps
module top (
  clk,
  buttonA,
  buttonB,
  led_R,
  led_G,
  led_B
)
;
input clk ;
input buttonA ;
input buttonB ;
output led_R ;
output led_G ;
output led_B ;
wire clk ;
wire buttonA ;
wire buttonB ;
wire led_R ;
wire led_G ;
wire led_B ;
wire VCC ;
wire GND ;
  GSR GSR_INST (
	.GSRI(VCC)
);
// @5:5
  OBUF led_R_obuf (
	.O(led_R),
	.I(VCC)
);
// @5:5
  OBUF led_G_obuf (
	.O(led_G),
	.I(VCC)
);
// @5:5
  OBUF led_B_obuf (
	.O(led_B),
	.I(VCC)
);
  GND GND_cZ (
	.G(GND)
);
  VCC VCC_cZ (
	.V(VCC)
);
endmodule /* top */

